// В этом файле должны быть стили только для БЭМ-блока aside-block, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.aside-block {

  $block-name:                &;

  margin-bottom: 15px;

  @media (min-width: $screen-xl) {
    margin-bottom: 30px;
  }

  &__header {
    padding: 16px 30px;
    background-color: $text-color;
    color: #fff;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  &__title {
    font-size: $font-size;
    font-weight: 500;
    padding: 0;
    margin: 0;
    border: none;
  }

  &__content {
    padding: 30px 30px 25px;
    background-color: #fff;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius
  }

  &--regions-list {

    #{$block-name}__header {

      @media (max-width: ($screen-lg - 1)) {
        display: none;
      }
    }

    #{$block-name}__content {
      padding: 15px 30px;

      @media (max-width: ($screen-lg - 1)) {
        padding: 0 15px;
      }
    }
  }
}
