// В этом файле должны быть стили только для БЭМ-блока aside-block, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.aside-block {

  $block-name:                &;

  margin-bottom: 15px;

  @media (min-width: $screen-xl) {
    margin-bottom: 30px;
  }

  &__header {
    padding: 16px 30px;
    background-color: $text-color;
    color: #fff;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  &__title {
    font-size: $font-size;
    font-weight: 500;
    padding: 0;
    margin: 0;
    border: none;
  }

  &__content {
    padding: 30px 30px 25px;
    background-color: #fff;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    &--pv25 {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }

  &__content-text {
    padding: 15px 30px;
  }

  &__mortgage-calc {}

  &__mortgage-price {
    margin-bottom: 20px;
  }

  &__mortgage-price-descr {
    color: $gray;
    margin-bottom: 5px;
  }

  &__mortgage-footer {
    margin-top: 30px;
    padding: 20px 0 0;
    border-top: 1px solid $gray-lightest;
  }

  &__header-toggler {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 51px;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 8px;
      height: 8px;
      border-bottom: 1px solid currentColor;
      border-right: 1px solid currentColor;
      transform: translate(-50%, -65%) rotate(45deg);
      transition: transform $transition-time, border-color $transition-time;
    }
  }

  &__content-wrapper {
    position: relative;
    overflow: hidden;
    max-height: 1000px;
    transition: max-height 0.3s;

    &--ovv {
      overflow: visible;
    }
  }



  &--collapsable {

    #{$block-name}__header {
      position: relative;
      padding-right: 70px;
    }
  }

  &--collapse {

    #{$block-name}__header-toggler:before {
      transform: translate(-50%, -35%) rotate(-135deg);
    }

    #{$block-name}__content-wrapper {
      max-height: 0;
    }
  }

  &--regions-list {

    #{$block-name}__header {

      @media (max-width: ($screen-lg - 1)) {
        display: none;
      }
    }

    #{$block-name}__content {
      padding: 15px 30px;

      @media (max-width: ($screen-lg - 1)) {
        padding: 0 15px;
      }
    }
  }

  &--blog-posts {

    #{$block-name}__content {
      padding: 0;
    }

    .post {
      margin-bottom: 0;

      &:not(:last-child) .post__text {
        border-bottom: 1px solid $gray-lightest;
      }
    }

    .post__text {
      border: 0;
    }
  }
}
