// В этом файле должны быть стили только для БЭМ-блока question, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.question {

  $block-name:                &;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 290px;
  border: 3px solid $color-main;
  border-radius: $border-radius;
  transition: border-color $transition-time;

  &:hover,
  &:focus {
    border-color: $color-main--accent;

    #{$block-name}__btn {
      background-color: $color-main--accent;
    }
  }

  @media (min-width: $screen-lg) {
    width: 360px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding: 15px;
    text-align: center;
  }

  &__consultant-avatar {
    display: block;
    margin: 0 auto 30px;
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;
  }

  &__msg {
    max-width: 260px;
    margin-bottom: 16px;
    font-size: $font-size;
    font-weight: 500;
    color: $text-color;
  }

  &__consultant {
    font-size: $font-size--small;
    line-height: ($font-size--small + 6);
    font-weight: 500;
    color: $gray;
  }

  &__btn {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    background-color: $color-main;
    color: #fff;
    font-weight: 500;
    transition: all $transition-time;
  }
}
