// В этом файле должны быть стили только для БЭМ-блока main-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

$gray-lightest:               hsl(0, 0%, 90%) !default;

$screen-xs:                   0 !default;
$screen-sm:                   480px !default;
$screen-md:                   768px !default;
$screen-lg:                   980px !default;
$screen-xl:                   1200px !default;
$screen-xxl:                  1800px !default;

$menu-desktop-width:          $screen-xl !default;
$toggler-part-height:         3px !default;
$toggler-part-bg-color:       #000 !default;

$transition-time:             0.3s !default;

$main-menu-mobile-width:      334px !default;

.main-nav {

  $block-name:                &;

  position: relative;
  z-index: 10;
  height: $header-height;

  @media (max-width: ($menu-desktop-width - 1)) {
    position: absolute;
    top: $header-height;
    left: 0;
    height: 0;
  }

  @media (min-width: $screen-xl) {
    z-index: 12;
    flex-grow: 1;
  }



  // первый уровень

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (max-width: ($menu-desktop-width - 1)) {
      position: relative;
      left: -$main-menu-mobile-width;
      z-index: 2;
      width: $main-menu-mobile-width;
      height: calc(100vh - #{$header-height});
      padding: 10px 30px;
      overflow-y: auto;
      background-color: #fff;

      #{$block-name}--open & {
        left: 0;
        box-shadow: 0 2px 40px rgba(72, 72, 72, 0.35);
        transition: left $transition-time, box-shadow $transition-time;
      }
    }

    @media (min-width: $screen-xl) {
      display: flex;
      padding-left: 18px;
    }

    // Блок, показываемый справа, начиная с 970
    &--always-drop-down {
      display: none;

      @media (max-width: ($menu-desktop-width - 1)) {
        position: relative;
        left: auto;
        z-index: 2;
        width: auto;
        height: $header-height;
        padding: 0;
        overflow: visible;
        background-color: #fff;
      }

      @media (min-width: $screen-lg) {
        display: flex;
      }

      #{$block-name}__pseudolink {
        padding: 18px;
        border-left: 1px solid $gray-lightest;
      }

      #{$block-name}__pseudolink--descktop-hide {
        display: none;
      }

      #{$block-name}__item--show-child #{$block-name}__pseudolink {
        color: $color-main;
      }

      #{$block-name}__pseudolink--arrow-desktop {
        display: block;
        padding: 18px 31px 18px 15px;
      }

      // вид ссылки в выпадающем блоке
      #{$block-name}__sub-link {
        position: relative;
        padding: 18px 30px;

        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          right: 30px;
          left: 30px;
          height: 1px;
          background-color: $gray-lightest;
        }
      }

      #{$block-name}__sub-list #{$block-name}__item:last-child #{$block-name}__sub-link:before {
        display: none;
      }

      // вид выпадающего вниз блока
      #{$block-name}__lvl {
        position: absolute !important;
        top: ($header-height + 8) !important;
        bottom: auto !important;
        left: auto !important;
        transform: none !important;
        right: 0;
        width: 280px !important;
        opacity: 0;
        height: 0;
        overflow: hidden !important;
        padding: 0 !important;
        transition: opacity $transition-time !important;
      }

      #{$block-name}__lvl--language {
        width: 200px !important;
      }

      #{$block-name}__item--show-child {
        position: relative;

        #{$block-name}__lvl {
          opacity: 1;
          height: auto;
          padding: 4px 0 !important;
          box-shadow: $shadow;
        }
      }
    }
  }

  &__item {
    background-color: #fff;

    @media (min-width: $screen-xl) {
      position: relative;

      #{$block-name}__item--more & {
        position: static;
      }

      #{$block-name}__item--more &--faq {
        position: relative;
      }
    }

    &--mobile-separator {

      @media (max-width: ($menu-desktop-width - 1)) {
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid $gray-lightest;
      }
    }

    &--active {

      #{$block-name}__sub-link {
        color: $gray;
      }
    }

    &--currency,
    &--language {

      @media (min-width: $screen-lg) {
        display: none;
      }
    }

    &--contacts {

      @media (min-width: $screen-lg) {
        margin-left: auto;
      }

      @media (min-width: $screen-xl) {

        #{$block-name}__pseudolink--phone {
          display: inline-block;
          border-left: 1px solid $gray-lightest;
          white-space: nowrap;
          font-weight: 400;
        }
      }
    }

    &--more {

      @media (max-width: ($menu-desktop-width - 1)) {
        display: none;
      }
    }
  }

  &__link,
  &__pseudolink,
  &__sub-link {
    display: block;
    position: relative;
    text-decoration: none;
    padding: 10px 0;
    color: $gray-darkest;
    cursor: pointer;
    transition: color $transition-time;

    &:hover,
    &:focus {
      color: $color-main;
      text-decoration: none;
    }

    @media (min-width: $screen-xl) {
      padding: 18px 18px 18px 30px;
      font-weight: 500;
      white-space: nowrap;

      #{$block-name}__item--more & {

        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          right: 20px;
          left: 30px;
          height: 1px;
          background-color: $gray-lightest;

          #{$block-name}__sub-list #{$block-name}__item:last-child & {
            display: none;
          }
        }
      }
    }
  }

  &__pseudolink {

    &--currency {

      @media (max-width: ($menu-desktop-width - 1)) {
        display: none;
      }
    }

    &--language {

      @media (max-width: ($menu-desktop-width - 1)) {
        display: none;
      }
    }

    &--phone {
      // display: block;

      @media (max-width: ($menu-desktop-width - 1)) {
        display: none;
      }
    }

    &--arrow {
      padding-right: 8px;

      &:after {
        content: '';
        position: absolute;
        right: 2px;
        top: 50%;
        width: 6px;
        height: 6px;
        border-bottom: 1px solid $gray-darkest;
        border-right: 1px solid $gray-darkest;

        @media (max-width: ($menu-desktop-width - 1)) {
          transform: translateY(-50%) rotate(-45deg);
        }

        @media (min-width: $screen-xl) {
          right: 14px;
          border-bottom: 1px solid $gray;
          border-right: 1px solid $gray;
          transform: translateY(-70%) rotate(45deg);
          transition: transform $transition-time, border-color $transition-time;

          #{$block-name}__item--show-child & {
            transform: translateY(-30%) rotate(225deg);
          }

          #{$block-name}__item--more #{$block-name}__lvl--more & {
            right: 22px;
            transform: translateY(-30%) rotate(-45deg);
          }
        }
      }

      &:hover,
      &:focus,
      #{$block-name}__item--show-child > & {
        color: $color-main;

        &:after {
          border-color: $color-main;
        }
      }

      @media (min-width: $screen-xl) {
        padding-right: 31px;
      }
    }

    &--descktop-hide {

      @media (min-width: $screen-xl) {
        display: none;
      }
    }

    &--arrow-desktop {

      &:after {
        content: '';
        position: absolute;
        right: 14px;
        top: 50%;
        width: 6px;
        height: 6px;
        border-bottom: 1px solid $gray-darkest;
        border-right: 1px solid $gray-darkest;
        transform: translateY(-70%) rotate(45deg);
        transition: transform $transition-time, border-color $transition-time;

        #{$block-name}__item--show-child & {
          transform: translateY(-30%) rotate(225deg);
        }
      }

      &:hover,
      &:focus,
      #{$block-name}__item--show-child & {

        &:after {
          border-color: $color-main;
        }
      }
    }
  }

  &__sub-link {
    font-weight: 400 !important;

    @media (min-width: $screen-xl) {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 30px;
        left: 30px;
        height: 1px;
        background-color: $gray-lightest;

        #{$block-name}__sub-list #{$block-name}__item:last-child & {
          display: none;
        }
      }
    }

    &--region {
      display: flex;

      @media (max-width: ($menu-desktop-width - 1)) {
        svg {
          display: none !important;
        }
      }

      @media (min-width: $screen-xl) {

        &:before {
          left: 0;
          right: 0;
        }
      }

      #{$block-name}__regions-list & {

        @media (min-width: $screen-xl) {
          position: relative;
          color: $text-color;
          padding: 28px 0 28px 100px;
          margin-right: 30px;

          &:hover,
          &:focus {
            color: $color-main;

            svg {
              fill: #89a6fa;
            }
          }

          svg {
            position: absolute;
            top: 0;
            left: 0;
            width: 70px;
            height: 70px;
            fill: #C1C9DD;
            transition: fill $transition-time;
          }
        }
      }

    }

    &--currency {
      display: flex;
    }
  }

  &__lvl {
    background-color: #fff;

    @media (max-width: ($menu-desktop-width - 1)) {
      position: fixed;
      z-index: 10;
      top: $header-height;
      bottom: 0;
      left: 0;
      width: $main-menu-mobile-width;
      padding: 10px 30px;
      background-color: #fff;
      overflow-y: auto;
      transform: translateX(-$main-menu-mobile-width);
      transition: transform $transition-time, box-shadow $transition-time;

      #{$block-name}__item--show-child & {
        box-shadow: $shadow;
        transform: translateX(0);
      }
    }

    @media (min-width: $screen-xl) {
      position: absolute;
      z-index: 10;
      top: ($header-height + 8);
      left: 0;
      opacity: 0;
      padding: 0;
      height: 0;
      width: 0;
      overflow: hidden;
      transition: opacity $transition-time, box-shadow $transition-time;

      // придется жестко зафиксировать с наследованием, ибо возможно меню 3го уровня
      #{$block-name}__item--show-child > & {
        opacity: 1;
        height: auto;
        width: 200px;
        overflow: visible;
        box-shadow: $shadow;
      }

      #{$block-name}__item--more #{$block-name}__sub-list & {
        top: 0;
        left: calc(100% + 8px);
      }

      #{$block-name}__item--show-child &--contacts {
        width: 320px;
      }
    }

    &--contacts {

      @media (min-width: $screen-xl) {

        #{$block-name}__item--show-child & {
          padding: 18px 30px 10px 30px;
        }
      }
    }

    &--faq {

      @media (min-width: $screen-xl) {

        #{$block-name}__item--more & {
          padding-top: 8px;
          padding-bottom: 8px;
        }

        #{$block-name}__item--more #{$block-name}__sub-list & {
          box-shadow: 4px 4px 40px rgba(72, 72, 72, 0.35);
        }

        #{$block-name}__item--more & #{$block-name}__sub-link {
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
    }

    &--regions {

      @media (min-width: $screen-xl) {
        padding-left: 30px;

        #{$block-name}__item--show-child & {
          width: 1100px;
          left: 50%;
          transform: translateX(-53%);
        }

        // костыль, закрывающий нижние разделители регионов
        &:before {
          content: '';
          position: absolute;
          height: 2px;
          bottom: 0;
          right: 0;
          left: 0;
          background-color: #fff;
        }

        #{$block-name}__item--more #{$block-name}__sub-list & {
          width: 320px;
          padding: 0;
          transform: none;
          box-shadow: 4px 4px 40px rgba(72, 72, 72, 0.35);

          #{$block-name}__regions-list {
            display: block;
            padding-top: 10px;
            padding-bottom: 10px;

            svg {
              display: none;
            }
          }

          #{$block-name}__sub-link--region {
            padding: 10px 30px;
            margin: 0;

            &:before {
              display: none;
            }
          }

          #{$block-name}__region-item {
            max-width: 100%;
          }
        }
      }

      @media (min-width: $screen-xxl) {

        #{$block-name}__item--show-child & {
          width: 1200px;
          transform: translateX(-43.3%);
        }
      }
    }

    &--more {

      @media (min-width: $screen-lg) {
        width: 230px !important;
      }
    }
  }

  &__breadcrumbs {
    display: none;

    @media (max-width: ($menu-desktop-width - 1)) {
      display: flex !important;
      color: $gray;
      margin-bottom: 10px;
      border-bottom: 1px solid $gray-lightest;
    }
  }

  &__breadcrumbs-item {
    display: inline-block;
    padding: 10px 0 16px;
    transform: translateX(-20px);

    &--back {
      color: $text-color;
      font-weight: 500;
      cursor: pointer;
      padding-left: 20px;

      &:before {
        content: '';
        display: inline-block;
        vertical-align: -1px;
        margin-right: 16px;
        width: 15px;
        height: 12px;
        background-image: svg-load('../blocks/main-nav/background-img/arrow-left.svg');
        background-repeat: no-repeat;
        background-position: 0 0;
      }
    }
  }

  &__regions-list {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: $screen-xl) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__region-item {

    @media (min-width: $screen-xl) {
      flex-basis: 33.333333%;
      max-width: 33.333333%;
    }
  }

  &__region-item-name {
    flex-grow: 1;

    @media (min-width: $screen-xl) {
      white-space: normal;
    }
  }

  &__region-item-num {
    flex-shrink: 0;
    padding-left: 5px;
    margin-left: auto;
  }

  &__sub-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__currency-abbr {
    flex-basis: 30%;
    flex-grow: 0;
    flex-shrink: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__currency-name {
    flex-basis: 70%;
    flex-grow: 0;
    flex-shrink: 0;
  }



  // переключатель

  &__toggler {
    border-right: 1px solid $gray-lightest;

    &.burger {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 12;
      width: $header-height;
      height: $header-height;

      & > span {
        width: 20px;
      }
    }

    @media (min-width: $screen-xl) {
      display: none;
    }
  }

  &__backdrop {
    position: fixed;
    z-index: 1;
    width: 0;
    height: 0;
    opacity: 0;
    transition: opacity $transition-time;

    @media (max-width: ($menu-desktop-width - 1)) {

      #{$block-name}--open & {
        display: block;
        height: auto;
        width: auto;
        top: $header-height;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #000;
        opacity: 0.85;
      }
    }

    @media (min-width: $screen-lg) {
      display: none;
    }
  }
}
