// В этом файле должны быть стили только для БЭМ-блока main-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

$gray-lightest:               hsl(0, 0%, 90%) !default;

$screen-xs:                   0 !default;
$screen-sm:                   480px !default;
$screen-md:                   768px !default;
$screen-lg:                   980px !default;
$screen-xl:                   1200px !default;
$screen-xxl:                  1800px !default;

$menu-desktop-width:          $screen-xl !default;
$toggler-part-height:         3px !default;
$toggler-part-bg-color:       #000 !default;

$transition-time:             0.3s !default;

$main-menu-mobile-width:      334px !default;

.main-nav {

  $block-name:                &;

  position: relative;
  z-index: 10;
  height: $header-height;

  @media (max-width: ($menu-desktop-width - 1)) {
    position: absolute;
    top: $header-height;
    left: 0;
    height: 0;
  }

  @media (min-width: $screen-xl) {
    z-index: 12;
    flex-grow: 1;
  }



  // первый уровень

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (max-width: ($menu-desktop-width - 1)) {
      position: relative;
      left: -$main-menu-mobile-width;
      z-index: 2;
      width: $main-menu-mobile-width;
      height: calc(100vh - #{$header-height});
      padding: 10px 30px;
      overflow-y: auto;
      background-color: #fff;

      #{$block-name}--open & {
        left: 0;
        box-shadow: 0 2px 40px rgba(72, 72, 72, 0.35);
        transition: left $transition-time, box-shadow $transition-time;
      }
    }

    @media (min-width: $screen-xl) {
      display: flex;
    }

    // Блок, показываемый справа, начиная с 970
    &--always-drop-down {
      display: none;

      @media (max-width: ($menu-desktop-width - 1)) {
        position: relative;
        left: auto;
        z-index: 2;
        width: auto;
        height: $header-height;
        padding: 0;
        overflow: visible;
        background-color: #fff;
      }

      @media (min-width: $screen-lg) {
        display: flex;
      }

      #{$block-name}__pseudolink {
        padding: 18px;
        border-left: 1px solid $gray-lightest;
      }

      #{$block-name}__pseudolink--descktop-hide {
        display: none;
      }

      #{$block-name}__item--show-child #{$block-name}__pseudolink {
        color: $color-main;
      }

      #{$block-name}__pseudolink--arrow-desktop {
        display: block;
        padding: 18px 31px 18px 15px;
      }

      // вид ссылки в выпадающем блоке
      #{$block-name}__sub-link {
        padding-top: 18px;
        padding-bottom: 18px;
      }

      #{$block-name}__item:not(:last-child) #{$block-name}__sub-link {
        border-bottom: 1px solid $gray-lightest;
      }

      // вид выпадающего вниз блока
      #{$block-name}__lvl {
        position: absolute !important;
        top: ($header-height + 8) !important;
        bottom: auto !important;
        left: auto !important;
        transform: none !important;
        right: 0;
        width: 280px;
        opacity: 0;
        height: 0;
        overflow: hidden !important;
        padding: 0 !important;
        transition: opacity $transition-time !important;
      }

      #{$block-name}__lvl--language {
        width: 200px;
      }

      #{$block-name}__item--show-child {
        position: relative;

        #{$block-name}__lvl {
          opacity: 1;
          height: auto;
          padding: 4px 30px !important;
        }
      }
    }
  }

  &__item {

    &--mobile-separator {

      @media (max-width: ($menu-desktop-width - 1)) {
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid $gray-lightest;
      }
    }

    &--active {

      #{$block-name}__sub-link {
        color: $gray;
      }
    }

    &--currency,
    &--language {

      @media (min-width: $screen-lg) {
        display: none;
      }
    }

    &--contacts {

      @media (min-width: $screen-lg) {
        margin-left: auto;
        border-left: 1px solid $gray-lightest;

        #{$block-name}__pseudolink--phone {
          white-space: nowrap;
          font-weight: 400;
        }
      }
    }
  }

  &__link,
  &__pseudolink,
  &__sub-link {
    display: block;
    position: relative;
    text-decoration: none;
    padding: 10px 0;
    color: $gray-darkest;
    cursor: pointer;
    transition: color $transition-time;

    &:hover,
    &:focus {
      color: $color-main;
      text-decoration: none;
    }

    @media (min-width: $screen-xl) {
      padding: 18px 18px 18px 30px;
      font-weight: 500;
      white-space: nowrap;
    }
  }

  &__pseudolink {

    &--currency {

      @media (max-width: ($menu-desktop-width - 1)) {
        display: none;
      }
    }

    &--language {

      @media (max-width: ($menu-desktop-width - 1)) {
        display: none;
      }
    }

    &--phone {

      @media (max-width: ($menu-desktop-width - 1)) {
        display: none;
      }
    }

    &--arrow {
      padding-right: 8px;

      &:after {
        content: '';
        position: absolute;
        right: 2px;
        top: 50%;
        width: 6px;
        height: 6px;
        border-bottom: 1px solid $gray-darkest;
        border-right: 1px solid $gray-darkest;

        @media (max-width: ($menu-desktop-width - 1)) {
          transform: translateY(-50%) rotate(-45deg);
        }

        @media (min-width: $screen-xl) {
          right: 14px;
          border-bottom: 1px solid $gray;
          border-right: 1px solid $gray;
          transform: translateY(-70%) rotate(45deg);
          transition: transform $transition-time, border-color $transition-time;

          #{$block-name}__item--show-child & {
            transform: translateY(-30%) rotate(225deg);
          }
        }
      }

      &:hover,
      &:focus,
      #{$block-name}__item--show-child & {
        color: $color-main;

        &:after {
          border-color: $color-main;
        }
      }

      @media (min-width: $screen-xl) {
        padding-right: 31px;
      }
    }

    &--descktop-hide {

      @media (min-width: $screen-xl) {
        display: none;
      }
    }

    &--arrow-desktop {

      &:after {
        content: '';
        position: absolute;
        right: 14px;
        top: 50%;
        width: 6px;
        height: 6px;
        border-bottom: 1px solid $gray-darkest;
        border-right: 1px solid $gray-darkest;
        transform: translateY(-70%) rotate(45deg);
        transition: transform $transition-time, border-color $transition-time;

        #{$block-name}__item--show-child & {
          transform: translateY(-30%) rotate(225deg);
        }
      }

      &:hover,
      &:focus,
      #{$block-name}__item--show-child & {

        &:after {
          border-color: $color-main;
        }
      }
    }
  }

  &__sub-link {

    &--region {

      @media (max-width: ($menu-desktop-width - 1)) {
        display: flex;
      }
    }

    &--currency {
      @media (max-width: ($menu-desktop-width - 1)) {
        display: flex;
      }
    }
  }

  &__lvl {
    transform: rotate3d(0,0,0);

    @media (max-width: ($menu-desktop-width - 1)) {
      position: fixed;
      z-index: 2;
      top: $header-height;
      bottom: 0;
      left: 0;
      width: $main-menu-mobile-width;
      padding: 10px 30px;
      background-color: #fff;
      overflow-y: auto;
      transform: translateX(-$main-menu-mobile-width);
      transition: transform $transition-time, box-shadow $transition-time;

      #{$block-name}__item--show-child & {
        box-shadow: $shadow;
        transform: translateX(0);
      }
    }

    @media (min-width: $screen-xl) {
      display: none;
    }
  }

  &__breadcrumbs {
    display: none;

    @media (max-width: ($menu-desktop-width - 1)) {
      display: flex !important;
      color: $gray;
      margin-bottom: 10px;
      border-bottom: 1px solid $gray-lightest;
    }
  }

  &__breadcrumbs-item {
    display: inline-block;
    padding: 10px 0 16px;
    transform: translateX(-20px);

    &--back {
      color: $text-color;
      font-weight: 500;
      cursor: pointer;
      padding-left: 20px;

      &:before {
        content: '';
        display: inline-block;
        vertical-align: -1px;
        margin-right: 16px;
        width: 15px;
        height: 12px;
        background-image: svg-load('../blocks/main-nav/background-img/arrow-left.svg');
        background-repeat: no-repeat;
        background-position: 0 0;
      }
    }
  }

  &__regions-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__region-item-name {
    flex-grow: 1;
  }

  &__region-item-num {
    flex-shrink: 0;
    padding-left: 5px;
    margin-left: auto;
  }

  &__sub-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__currency-abbr {
    flex-basis: 30%;
    flex-grow: 0;
    flex-shrink: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__currency-name {
    flex-basis: 70%;
    flex-grow: 0;
    flex-shrink: 0;
  }



  // переключатель

  &__toggler {
    border-right: 1px solid $gray-lightest;

    &.burger {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 12;
      width: $header-height;
      height: $header-height;

      & > span {
        width: 20px;
      }
    }

    @media (min-width: $screen-xl) {
      display: none;
    }
  }

  &__backdrop {
    position: fixed;
    z-index: 1;
    width: 0;
    height: 0;
    opacity: 0;
    transition: opacity $transition-time;

    @media (max-width: ($menu-desktop-width - 1)) {

      #{$block-name}--open & {
        display: block;
        height: auto;
        width: auto;
        top: $header-height;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #000;
        opacity: 0.85;
      }
    }

    @media (min-width: $screen-lg) {
      display: none;
    }
  }
}
