// В этом файле должны быть стили только для БЭМ-блока sorter, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.sorter {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 10px;

  .field-drop-checkboxes {
    width: 135px;

    @media (min-width: $screen-lg) {
      margin-right: 30px;
    }
  }

  &__found-result {
    display: block;
    margin-bottom: 10px;
    margin-right: 20px;
    flex-shrink: 1;
    min-width: 105px;
    color: $gray;
  }

  &__options {
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    @media (min-width: $screen-xl) {
      justify-content: flex-end;
    }
  }

  &__options-part {
    display: flex;
    align-items: center;

    & + & {
      margin-left: 20px;

      @media (min-width: $screen-lg) {
        margin-left: 0;
      }
    }

    &:last-child {

      .field-drop-checkboxes {
        margin-right: 0;
      }
    }
  }

  &__field-text {
    display: none;
    margin-right: 15px;
    color: $gray;

    @media (min-width: $screen-xl) {
      display: block;
    }
  }
}
