
// Make viewport responsive
// http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@at-root {

  @-ms-viewport { /* stylelint-disable-line  at-rule-no-vendor-prefix */
    width: device-width;
  }
}

.page { // html
  box-sizing: border-box;
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%; /* stylelint-disable-line  property-no-vendor-prefix */
  min-width: 320px;
  min-height: 100%;

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    &--has-bottom-btns {

      @media (max-width: ($screen-lg - 1)) {
        padding-bottom: 61px;
      }
    }
  }

  &__content {
    z-index: 2;
    flex-grow: 1;
    padding-top: $header-height;
    display: flex;
    flex-direction: column;
  }

  &__main-content {
    position: relative;
    z-index: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    // Привет, днище 11й версии!
    @media all and (-ms-high-contrast:none) {
      min-height: calc(100vh - #{$header-height});
    }
  }

  &__footer-wrapper {
    z-index: 1;
    flex-shrink: 0;

    &--xs-hide {

      @media (max-width: ($screen-lg - 1)) {
        display: none;
      }
    }
  }

  &__h1 {
    font-size: $font-size--h2;
    font-weight: 500;
    margin: 0 0 15px;
  }

  &__h2 {
    font-size: ($font-size--h2 - 3);
    font-weight: 400;
    margin: 35px 0 20px;
  }

  &__accent-text {
    margin-top: 30px;

    &:after {
      content: ' ';
      display: table;
      clear: both;
    }
  }

  &__figure {
    display: block;
    width: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 0;
    text-align: center;

    @media (min-width: $screen-md) {
      display: inline-block;
      width: auto;
      text-align: left;
      max-width: 50%;
      float: left;
      margin-right: 30px;
    }
  }

  &__figure-main {

    @media (max-width: ($screen-md - 1)) {
      width: 100%;
      height: auto;
      max-height: 360px;
      object-fit: cover;
    }
  }

  &__figcaption {
    display: block;
    margin-top: 5px;
    color: $gray;
    font-size: $font-size--small;
  }

  &__small-block {
    display: block;
    color: $gray;
    font-size: $font-size--small;
    line-height: $line-height;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  margin: 0;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: $color-main;

  &:hover,
  &:focus {
    color: $color-main--accent;
  }
}

[tabindex='-1']:focus {
  outline: none !important;
}

// iOS 'clickable elements' fix for role='button'
[role='button'] {
  cursor: pointer;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

// Avoid 300ms click delay on touch devices that support the `touch-action` CSS property.
a,
// area,
button,
[role='button'],
input,
label,
select,
// summary,
textarea {
  touch-action: manipulation;
}

img {
  max-width: 100%;
  height: auto;
}
