// В этом файле должны быть стили для БЭМ-блока forum-topic-mini, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.forum-topic-mini {

  $block-name:                &; // #{$block-name}__element {}

  position: relative;
  padding: 16px;
  border: 1px solid $gray-lightest;
  background: $white;

  @media (min-width: $screen-md) {
    padding-bottom: 0;
  }

  &__header-info {
    margin: 0 0 16px;
    font-size: $font-size--small;
    color: $text-color--muted;

    @media (min-width: $screen-md) {
      padding-right: 180px;
    }
  }

  &__theme {
    position: relative;
    display: inline-block;
    padding-right: 20px;

    &:not(:last-child) {

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 7px;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: $gray;
        transform: translateY(-50%);
      }
    }
  }

  &__title {
    margin: 0 0 8px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;

    a {
      color: inherit;
    }
  }

  &__label {
    display: none;

    @media (min-width: $screen-md) {
      position: absolute;
      top: 8px;
      right: 16px;
      display: block;
    }
  }

  &__content-wrap {

    @media (min-width: $screen-md) {
      display: flex;
      align-items: flex-start;
    }
  }

  &__reply-counter-wrap {
    display: none;

    @media (min-width: $screen-md) {
      display: block;
      margin-left: 32px;
      transform: translateY(-8px);
    }
  }

  &__reply-counter {

    @media (min-width: $screen-md) {
      color: $gray;
      text-align: center;

      strong {
        font-size: $font-size--h1;
        color: $text-color;
      }

      &--no-reply {

        strong {
          color: inherit;
        }
      }
    }
  }

  &__google-translate {
    font-size: $font-size--small;
  }

  &__footer {
    position: relative;
    margin-top: 32px;
    padding-top: 8px;

    @media (min-width: $screen-md) {
      display: flex;
      // align-items: flex-start;
      padding-top: 0;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: -16px;
      right: -16px;
      border-top: 1px solid $gray-lightest;
    }
  }

  &__footer-item {
    flex-shrink: 0;
    margin-bottom: 8px;

    @media (min-width: $screen-md) {
      display: flex;
      align-items: center;
      min-width: 0;
      margin-bottom: 0;
      padding: 8px 16px;
      border-left: 1px solid $gray-lightest;

      .user-mini {
        display: block;
        max-width: 100%;
      }

      &:last-child {
        margin-right: -10px;
      }

      &--author {
        flex-shrink: 1;
        margin-right: auto;
        padding-left: 0;
        border-left: 0;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
