// В этом файле должны быть стили только для БЭМ-блока field-drop-checkboxes, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.field-drop-checkboxes {

  $block-name:                &;

  position: relative;

  &--fz-small {
    font-size: $font-size--small;

    #{$block-name}__pseudoselect {
      font-size: $font-size--small;
    }
  }

  &__name {
    display: block;
    margin-bottom: 13px;
    line-height: 1;
    font-weight: 500;
  }

  &__pseudoselect {
    display: block;
    position: relative;
    padding: ($field-padding-vertical + 4) ($field-padding-horizontal + 18) ($field-padding-vertical + 4) $field-padding-horizontal;
    font-size: $font-size;
    line-height: $font-size + 6;
    font-family: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $text-color;
    background-color: #fff;
    border: 1px solid $gray-lightest;
    border-radius: $border-radius;
    cursor: pointer;
    transition: color $transition-time;

    @media (min-width: $screen-md) {
      padding: $field-padding-vertical ($field-padding-horizontal + 8) $field-padding-vertical $field-padding-horizontal;
    }

    &:after {
      content: '';
      position: absolute;
      right: 14px;
      top: 50%;
      width: 6px;
      height: 6px;
      border-bottom: 1px solid #31353f;
      border-right: 1px solid #31353f;
      transform: translateY(-70%) rotate(45deg);
      transition: transform $transition-time, border-color $transition-time;
    }
  }

  &__drop {
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    z-index: 1;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    color: $text-color;
    background-color: #fff;
    border: 1px solid $gray-lightest;
    border-radius: $border-radius;
    box-shadow: $shadow;
    transition: opacity $transition-time;

    .field-checkbox__name {
      display: block;
    }

    #{$block-name}.open & {
      width: 100%;
      min-width: 120px;
      height: auto;
      padding: 10px 13px;
      opacity: 1;
      overflow: visible;

      &--separated-checks {
        padding: 0;

        .field-checkbox__name {
          padding: 13px;
        }

        @at-root .field-checkbox__name--check-only input:checked ~ .field-checkbox__name-text:after {
            top: 17px;
            left: 15px;
          }

        .field-checkbox__input-wrap {
          padding: 0;
        }

        .field-checkbox__input-wrap:not(:last-child) {
          position: relative;

          &:after {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            height: 1px;
            background-color: $gray-lightest;
          }
        }
      }
    }
  }

  &.open {

    #{$block-name}__pseudoselect {
      color: $color-main;

      &:after {
          border-color: $color-main;
        transform: translateY(-30%) rotate(225deg);
      }
    }
  }
}
