// В этом файле должны быть стили только для БЭМ-блока pagination, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

$line-height:                 1.375em !default;

$text-color:                  hsl(0, 0%, 10%) !default;

$border-color:                hsl(0, 0%, 60%) !default;

.pagination {

  $block-name:                &;

  &__text {
    display: block;
    font-size: $font-size;
    margin-bottom: 15px;
  }

  &__list {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin-bottom: 10px;
      margin-right: 10px;
    }
  }

  &__item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    min-width: 32px;
    padding: 0.1em;
    border: 1px solid $gray-lightest;
    border-radius: $border-radius;
    font-size: $font-size--small;
    text-decoration: none;
    text-align: center;
    color: $color-main;

    // &:hover,
    // &:focus {
    //   text-decoration: none;
    //   color: $color-main--accent;
    //   border-color: $color-main--accent;
    // }

    @at-root a#{&} {

      &:hover,
      &:focus {
        text-decoration: none;
        color: $color-main--accent;
        border-color: $color-main--accent;
      }

      &:active {
        background-color: $color-main--accent;
        border-color: $color-main--accent;
        color: #fff;
      }
    }

    @at-root span#{&} {
      cursor: default;

      &:hover,
      &:focus {
        color: $text-color;
      }
    }

    &--active {
      background-color: $gray-lightest;
      color: $text-color;

      &:hover,
      &:focus {
        color: $text-color;
      }
    }
  }

  &__icon-right {
    font-size: 0;
    overflow: hidden;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 0 4px 4px;
    border-color: transparent transparent transparent $color-main;

    a:active & {
      border-color: transparent transparent transparent #fff;
    }
  }

  &__icon-left {
    font-size: 0;
    overflow: hidden;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 4px 4px 0;
    border-color: transparent $color-main transparent transparent;

    a:active & {
      border-color: transparent #fff transparent transparent;
    }
  }




  &--mobile {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    background-color: #fff;

    #{$block-name}__text {
      margin-bottom: 0;
      margin-right: auto;
    }
  }
}
