// В этом файле должны быть стили только для БЭМ-блока filter-wrapper, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.filter-wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row-reverse;
  background-color: $gray-ultra-lightest;

  &__inner {
    flex-basis: 100%;
    max-width: 1060px;
  }

  &--bg-white {
    background-color: #fff;
  }
}
