// Этот блок ответственнен за типографику проекта.
// Не пишите тут какую-либо стороннюю стилизацию.

$gray:                        hsl(0, 0%, 50%) !default;
$gray-lighter:                hsl(0, 0%, 80%) !default;
$gray-lightest:               hsl(0, 0%, 90%) !default;

$font-family:                 -apple-system, BlinkMacSystemFont, 'Roboto', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif !default;
$font-family--headings:       $font-family !default;
$font-family--monospace:      'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', monospace !default;

$font-size:                   14px !default;
$font-size--h1:               2.25em !default;
$font-size--h2:               1.875em !default;
$font-size--h3:               1.5em !default;
$font-size--h4:               1.25em !default;
$font-size--h5:               1em !default;
$font-size--h6:               1em !default;
$font-size--small:            0.75em !default;

$line-height:                 1.375em !default;

$text-color:                  hsl(0, 0%, 10%) !default;
$border-color:                hsl(0, 0%, 60%) !default;

$screen-sm:                   480px !default;

$border-radius:               3px !default;



@font-face {
  font-family: 'San Francisco';
  src: url('../fonts/SF-UI-Display-Regular.woff2') format('woff2'),
       url('../fonts/SF-UI-Display-Regular.woff') format('woff'),
       url('../fonts/SF-UI-Display-Regular.ttf')  format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'San Francisco';
  src: url('../fonts/SF-UI-Display-Semibold.woff2') format('woff2'),
       url('../fonts/SF-UI-Display-Semibold.woff') format('woff'),
       url('../fonts/SF-UI-Display-Semibold.ttf')  format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'San Francisco';
  src: url('../fonts/SF-UI-Display-Bold.woff2') format('woff2'),
       url('../fonts/SF-UI-Display-Bold.woff') format('woff'),
       url('../fonts/SF-UI-Display-Bold.ttf')  format('truetype');
  font-weight: 700;
  font-style: normal;
}




body {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  color: $text-color;
  letter-spacing: 0.02em;
}

// .h1,
// .h2,
// .h3,
// .h4,
// .h5,
// .h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family--headings;
  font-weight: 400;
  line-height: 1.4;
  color: currentColor;
}

// .h1,
// .h2,
// .h3,
h1,
h2,
h3 {
  margin-top: $line-height;
  margin-bottom: ($line-height / 2);
}

// .h4,
// .h5,
// .h6,
h4,
h5,
h6 {
  margin-top: ($line-height / 2);
  margin-bottom: ($line-height / 2);
}

// .h1,
h1 {
  font-size: $font-size--h2;
  font-weight: 500;
  margin: 0 0 15px;
}

// .h2,
h2 {
  font-size: ($font-size--h2 - 3);
  font-weight: 400;
  margin: 35px 0 20px;
}

// .h3,
h3 {
  font-size: $font-size--h4;
  font-weight: 500;
  margin: 22px 0 8px;
}

// .h4,
h4 {
  font-size: $font-size--h4;
}

// .h5,
h5 {
  font-size: $font-size--h5;
}

// .h6,
h6 {
  font-size: $font-size--h6;
}

// .p,
p,
ul,
ol,
dl,
blockquote,
pre,
address,
figure {
  margin-top: ($line-height / 2);
  margin-bottom: ($line-height / 2);
}

address {
  font-style: normal;
}

ul,
ol {
  padding-left: 1.2em;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-top: 0;
  margin-bottom: 0;
}

li {
  line-height: inherit;
}

dt {
  font-weight: 700;
}

dd {
  margin-left: 0;

  @media (min-width: $screen-sm) {
    margin-left: 1.8em;
  }

  & + dt {
    margin-top: ($line-height / 2);
  }
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
  border: 0;
  border-top: 1px solid $border-color;
}

// .small,
small {
  font-size: $font-size--small;
}

sub,
sup {
  font-size: 70%;
}

// .mark,
mark {
  background: #fcf8e3;
  padding: 0.1em 0.3em;
}

b,
strong {
  font-weight: 500;
}

abbr[title] {
  border-bottom: 1px dotted;
}

blockquote {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

code,
kbd,
pre,
samp {
  font-family: $font-family--monospace;
}

code {
  padding: 0.06em 0.3em;
  color: $text-color;
  background-color: $gray-lightest;
  border-radius: $border-radius;
}

kbd {
  padding: 0.06em 0.3em;
  color: $text-color;
  background-color: $gray-lightest;
  border-radius: $border-radius;

  kbd {
    padding: 0;
  }
}

pre {
  display: block;
  width: 100%;
  overflow-x: auto;
  tab-size: 2;
}

.nowrap {
  white-space: nowrap;
}
