// В этом файле должны быть стили только для БЭМ-блока more-link, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.more-link {
  white-space: nowrap;

  &__icon {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.3em;
    fill: $color-main;
  }
}
