// В этом файле должны быть стили для БЭМ-блока search-tags, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.search-tags {

  $block-name:                &; // #{$block-name}__element {}

  &__inner {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: calc(20% - 4px);
    margin: 0 4px 4px 0;

    &--hidden {
      display: none;
    }
  }

  &__show-all-wrap {
    margin-top: 4px;
    text-align: right;
  }
}
