// В этом файле должны быть стили только для БЭМ-блока our-history, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.our-history {
  margin: 0;
  padding: 0;
  list-style: none;

  b {
    font-weight: 500;
    display: block;
  }

  p {
    margin: 0;
  }

  li {

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
