// В этом файле должны быть стили только для БЭМ-блока location-props, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.location-props {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $screen-osx) {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {

    b {
      white-space: nowrap;
    }

    @media (min-width: $screen-osx) {
      flex-basis: 50%;
      max-width: 50%;
      padding-right: 10px;

      &:not(:last-child) {
        margin-bottom: 30px;
      }

      &--osx-mb0 {

        &:not(:last-child) {
          margin-bottom: 0;
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &:before {
      content: '';
      width: 32px;
      height: 32px;
      margin-right: 20px;
      display: inline-block;
      vertical-align: middle;
      background-position: center;
      background-repeat: no-repeat;
    }

    &--plan:before {
      background-image: url(../img/location-props-plan.svg);
    }

    &--bed:before {
      background-image: url(../img/location-props-bed.svg);
    }

    &--bath:before {
      background-image: url(../img/location-props-bath.svg);
    }

    &--total:before {
      background-image: url(../img/location-props-total.svg);
    }
  }
}
