// В этом файле должны быть стили только для БЭМ-блока location-props, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.location-props {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $screen-sm) {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 45px;
    min-height: 32px;
    margin-bottom: 20px;
    line-height: 1;

    b {
      white-space: nowrap;
    }

    svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 32px;
      height: 32px;
    }

    @media (min-width: $screen-sm) {
      flex-basis: 50%;
      max-width: 50%;
      padding-right: 10px;
      margin-bottom: 20px;
    }
  }
}
