// В этом файле должны быть стили только для БЭМ-блока locations-list, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.locations-list {
  
}
