// В этом файле должны быть стили только для БЭМ-блока drop-menu, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.drop-menu {
  
}
