// В этом файле должны быть стили только для БЭМ-блока alert, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.alert {
  display: flex;
  align-items: center;
  position: relative;
  margin: 35px 0;
  padding: 20px 20px 20px 48px;
  background-color: $color-main--ultralight;
  border: 1px solid $color-main;
  border-radius: $border-radius;

  @media (min-width: $screen-xl) {
    padding-right: 48px;
  }

  &__inner {

    & > *:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: $font-size;
    font-weight: 500;
    color: $text-color;

    &--icon-info {

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: -30px;
        transform: translateY(-50%);
        width: 22px;
        height: 22px;
        background-image: svg-load('../blocks/alert/img_to_bg/icon-info.svg');
      }
    }

    &--icon-money {

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: -30px;
        transform: translateY(-50%);
        width: 18px;
        height: 18px;
        background-image: svg-load('../blocks/alert/img_to_bg/icon-money-bag.svg');
      }
    }
  }

  &__small {
    margin-top: 0.3em;
    font-size: $font-size--small;
    line-height: $line-height;
  }

  &__close {
    position: absolute;
    top: 2px;
    right: 2px;
  }

  &__accent {
    font-weight: 500;
    color: $color-main;
  }



  &--m25 {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  &--danger {
    min-height: 76px;
    padding: 20px 20px 20px 60px;
    border-color: $color-danger;
    background-color: $color-danger--light;

    &:before {
      content: '';
      position: absolute;
      top: 27px;
      left: 20px;
      width: 21px;
      height: 21px;
      background-image: svg-load('../blocks/alert/img_to_bg/icon-danger-info.svg');
    }
  }

  &--success {
    min-height: 76px;
    padding: 20px 20px 20px 60px;
    border-color: $color-success;
    background-color: $color-success--light;

    &:before {
      content: '';
      position: absolute;
      top: 27px;
      left: 20px;
      width: 21px;
      height: 21px;
      background-image: svg-load('../blocks/alert/img_to_bg/icon-success-info.svg');
    }
  }

  &--no-icon {
    display: block;
    padding: 25px 30px 20px;
    font-size: $font-size--small;
    line-height: ($font-size--small + 6);

    &:before {
      display: none;
    }
  }
}
