// В этом файле должны быть стили только для БЭМ-блока profile, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.profile {

  &__header {
    margin-bottom: 35px;
  }

  &__descr {
    margin-top: -10px;
  }

  &__inner {

    @media (min-width: $screen-lg) {
      display: flex;
      align-items: flex-start;
    }
  }

  &__info {
    border: 1px solid $gray-lightest;
    padding: 40px 30px 30px;
    margin: 0 auto 30px;
    max-width: 450px;

    @media (min-width: $screen-lg) {
      width: 270px;
      flex-shrink: 0;
      margin-right: 15px;
      padding-bottom: 5px;
    }

    @media (min-width: $screen-osx) {
      margin-right: 30px;
    }

    &--hidden-lg {

      @media (max-width: ($screen-lg - 1)) {
        display: none;
      }
    }
  }

  &__content {
    flex-grow: 1;
  }

  &__content-item {

    &--max-750 {
      max-width: 750px;
    }
  }

  &__properties-btns {
    display: none;

    @media (min-width: $screen-lg) {
      display: flex;
      justify-content: flex-end;
    }

    .btn {
      margin-left: 2em;
    }
  }

  &__properties-list {

    .card {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__properties-text {
    margin: 40px 0 20px;
    padding: 0;
    font-size: $font-size;
    font-weight: 400;
    color: $gray;
    text-align: center;

    @media (min-width: $screen-lg) {
      text-align: left;
    }

    &--sub-btns {

      @media (min-width: $screen-lg) {
        margin-top: 0;
      }
    }
  }

  &__alert-xs {
    display: block;

    @media (min-width: $screen-lg) {
      display: none;
    }
  }

  &__alert-lg {
    display: none;

    @media (min-width: $screen-lg) {
      display: block;
      margin-top: 0;
    }
  }

  &__wishlist {

    @media (min-width: $screen-xl) {
      margin-left: -7px;
      margin-right: -7px;
      display: flex;
      flex-wrap: wrap;
    }

    @media (min-width: $screen-osx) {
      margin-left: -15px;
      margin-right: -15px;
    }
  }

  &__wishlist-item {
    margin-bottom: 15px;

    @media (min-width: $screen-xl) {
      padding-left: 7px;
      padding-right: 7px;
      flex-basis: 50%;
      width: 50%;
      max-width: 360px;
    }

    @media (min-width: $screen-osx) {
      margin-bottom: 30px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
