// В этом файле должны быть стили только для БЭМ-блока profile, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.profile {

  $block-name:                &;

  &__header {
    margin-bottom: 35px;

    &--xs-hide {

      @media (max-width: ($screen-lg - 1)) {
        display: none;
      }
    }
  }

  &__descr {
    margin-top: -10px;
  }

  &__inner {

    @media (min-width: $screen-lg) {
      display: flex;
      align-items: flex-start;
    }
  }

  &__info {
    border: 1px solid $gray-lightest;
    padding: 40px 30px 30px;
    margin: 0 auto 30px;
    max-width: 450px;

    @media (min-width: $screen-lg) {
      width: 270px;
      flex-shrink: 0;
      margin-right: 15px;
      padding-bottom: 5px;
    }

    @media (min-width: $screen-osx) {
      margin-right: 30px;
    }

    &--hidden-lg {

      @media (max-width: ($screen-lg - 1)) {
        display: none;
      }
    }
  }

  &__content {
    flex-grow: 1;

    .card-list-mini {
      margin-bottom: 55px;
    }

    &--add {
      position: relative;
    }
  }

  &__content-item {

    &--max-750 {
      max-width: 750px;
    }
  }

  &__properties-btns {
    display: none;

    @media (min-width: $screen-lg) {
      display: flex;
      justify-content: flex-end;
    }

    .btn {
      margin-left: 2em;
    }
  }

  &__properties-list {

    .card {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__properties-text {
    margin: 40px 0 20px;
    padding: 0;
    font-size: $font-size;
    font-weight: 400;
    color: $gray;
    text-align: center;

    @media (min-width: $screen-lg) {
      text-align: left;
    }

    &--sub-btns {

      @media (min-width: $screen-lg) {
        margin-top: 0;
      }
    }
  }

  &__alert-xs {
    display: block;

    @media (min-width: $screen-lg) {
      display: none;
    }
  }

  &__alert-lg {
    display: none;

    @media (min-width: $screen-lg) {
      display: block;
      margin-top: 0;
    }
  }

  &__wishlist-title {}

  &__wishlist {

    @media (min-width: $screen-xl) {
      margin-left: -7px;
      margin-right: -7px;
      display: flex;
      flex-wrap: wrap;
    }

    @media (min-width: $screen-osx) {
      margin-left: -15px;
      margin-right: -15px;
    }
  }

  &__wishlist-item {
    margin-bottom: 15px;

    @media (min-width: $screen-xl) {
      padding-left: 7px;
      padding-right: 7px;
      flex-basis: 50%;
      width: 50%;
      max-width: 360px;
    }

    @media (min-width: $screen-osx) {
      margin-bottom: 30px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__virtual-drachma {
    max-width: 880px;
  }

  &__virtual-drachma-share {
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 490px;
  }

  &__virtual-drachma-title {
    margin-top: -2px;
  }

  &__virtual-drachma-inner {

    .alert {
      margin-top: 0;
      order: 1;
    }

    @media (min-width: $screen-xl) {
      display: flex;
      align-items: flex-start;

      .alert {
        margin-left: 30px;
        flex-basis: 360px;
        min-width: 360px;
      }
    }
  }

  &__muted-h3 {
    margin-bottom: ($line-height / 2);
    font-size: $font-size--h4;
    font-weight: 400;
    line-height: 1.4;

    &--top {
      margin-top: -3px;
    }

    &--gray {
      color: $gray;
    }

    &--mb20 {
      margin-bottom: 30px;
    }
  }

  &__add-slide {

    @media (max-width: ($screen-lg - 1)) {
      display: none;

      &--active {
        display: block;
      }
    }

    @media (min-width: $screen-xl) {

      .field-drop-checkboxes,
      .field-text__input {
        max-width: 360px;
      }
    }

    &--types {

      // @media (min-width: $screen-xl) {
      //   position: relative;
      //   z-index: 1;
      // }
    }

    &--map {

      @media (min-width: $screen-xl) {
        position: relative;
      }
    }

    &--pay {

      @media (min-width: $screen-lg) {
        margin-bottom: 40px;
      }
    }
  }

  &__add-slide-map-inner {
    display: flex;
    flex-direction: column;

    @media (max-width: ($screen-lg - 1)) {
      min-height: calc(100vh - 165px); // магическое число, вычет высоты прочих жлементов

      & > * {
        flex-shrink: 0;
      }
    }
  }

  &__add-text-wrap {

    @media (min-width: $screen-xl) {
      display: flex;
      align-items: flex-start;

      // @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      //   background-color: #ff0;
      //   width: 100%;
      // }
    }
  }

  &__add-text {

    @media (min-width: $screen-xl) {

      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        max-width: calc(100% - 360px);
      }
    }

    & > p:first-child {
      margin-top: 0;
    }
  }

  &__add-subform {

    @media (min-width: $screen-xl) {
      margin-top: 20px;
    }
  }

  &__add-extract-address {
    display: none;

    @media (min-width: $screen-xl) {
      display: block;
      margin-top: 30px;
    }

    @media (min-width: $screen-xl) {

      .field-text__input-wrap {
        width: 360px;
      }
    }
  }

  &__add-tip {
    display: none;

    @media (min-width: $screen-xl) {
      display: block;
      width: 360px;
      flex-shrink: 0;
      border: 1px solid $border-color;
      padding: 20px 30px;
      margin-left: 30px;
    }
  }

  &__add-tip-title {
    display: block;
  }

  &__add-tip-descr {
    font-size: $font-size--small;
  }

  &__add-tip-pict {
    display: block;
    margin-top: 15px;
  }

  &__add-type-list-wrap {

    @media (min-width: $screen-xl) {
      width: 100%;
      height: 408px;
      margin-top: 25px;
    }
  }

  &__add-points-wrap {

    &--lg-hide {

      @media (min-width: $screen-lg) {
        display: none;
      }
    }

    &--for-lg {

      @media (min-width: $screen-lg) {
        order: 1;

        #{$block-name}__add-points-list {
          margin: 40px 0 0;
        }
      }
    }
  }

  &__add-point {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    min-height: 48px;
    max-width: 360px;
    line-height: $line-height;
    padding: 10px 50px;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    svg {
      position: absolute;
      top: 50%;
      left: 25px;
      transform: translate(-50%, -50%);
      fill: $color-main;
    }
  }

  &__add-point-name {
    display: block;
    width: 100%;
    padding: 5px 3px;
    margin-bottom: 2px;
    border: 0;
    border-bottom: 1px solid $border-color;
    font-family: inherit;
    font-size: $font-size;

    &::placeholder {
      color: $text-color;
    }
  }

  &__add-point-descr {
    display: block;
    width: 100%;
    padding: 5px 3px;
    border: 0;
    color: $gray;
    font-family: inherit;
    font-size: $font-size--small;

    &::placeholder {
      color: $gray;
    }
  }

  &__add-point-del {
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
  }

  // &__add-points-descr {
  //   margin-bottom: 5px;

  //   @media (min-width: $screen-lg) {
  //     display: none;
  //   }
  // }

  &__add-points-list {
    margin-bottom: 20px;
  }

  &__add-point-addr-or-pin {
    margin-bottom: 10px;

    @media (min-width: $screen-lg) {
      margin-top: 20px;
    }

    @media (min-width: $screen-xl) {
      display: none;
    }
  }

  &__add-points-btn {
    display: none;

    @media (min-width: $screen-lg) {
      display: block;
    }
  }

  &__add-points-map {
    position: relative;
    flex-grow: 1;
    min-height: 150px;

    @media (min-width: $screen-lg) {
      min-height: 408px;
    }

    @media (min-width: $screen-xl) {
      position: absolute !important;
      top: -408px;
      right: 0;
      width: calc(100% - 230px);
      height: 408px;
      border: 1px solid $border-color;
      border-left: 0;
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }

  &__add-name-point {

    @media (min-width: $screen-lg) {
      padding-top: 20px;

      .field-text__input {
        width: 360px;
        margin-right: 30px;
      }

      .field-text__input-wrap {
        display: flex;
      }
    }
  }

  &__add-pay-processed-in-alert {
    display: none;

    @media (min-width: $screen-lg) {
      display: block;
    }
  }

}
