// В этом файле должны быть стили только для БЭМ-блока btn-icon, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.btn-icon {

  $block-name:                &;

  &__text {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
  }

  svg {
    fill: $gray-darkest;
    transition: fill $transition-time;
  }

  &:hover,
  &:focus {

    svg {
      fill: $color-main;
    }
  }



  &--blue-kebab {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 16px;
    width: 6px;

    &:before {
      content: '';
      display: block;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: $color-main;
      box-shadow: 0 -7px 0 $color-main, 0 7px 0 $color-main;
    }
  }

  &--kebab {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 16px;
    width: 6px;

    &:before {
      content: '';
      display: block;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: currentColor;
      box-shadow: 0 -7px 0 currentColor, 0 7px 0 currentColor;
    }
  }

  &--real-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #fff;
    border: 1px solid $gray-lightest;
    border-radius: $border-radius;
    outline: none;
    color: currentColor;
    cursor: pointer;

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
      border-right: 0;
    }

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &--add-text {
    min-width: 40px;
    width: auto;
    border: 1px solid $gray-lightest !important;
    border-radius: $border-radius !important;

    svg {
      width: 22px;
      margin: 0 9px;
    }

    #{$block-name}__text {
      display: none;
      position: static;
      width: 120px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      font-weight: 500;
      font-size: $font-size--small;
      border-left: 1px solid $gray-lightest;

      @media (min-width: $screen-xl) {
        display: block;
      }
    }
  }
}
