// В этом файле должны быть стили только для БЭМ-блока btn-icon, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.btn-icon {

  &__text {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
  }

  svg {
    fill: $gray-darkest;
    transition: fill $transition-time;
  }

  &:hover,
  &:focus {

    svg {
      fill: $color-main;
    }
  }



  &--blue-kebab {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 18px;
    width: 6px;

    &:before {
      content: '';
      display: block;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: $color-main;
      box-shadow:
        0 -7px 0 $color-main,
        0 7px 0 $color-main;
    }
  }
}
