// В этом файле должны быть стили только для БЭМ-блока social-contacts, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.social-contacts {

  $block-name:                &;

  padding: 10px 0 15px;
  border-top: 1px solid $gray-lightest;
  border-bottom: 1px solid $gray-lightest;

  .social-links__item {
    flex-shrink: 0;
    margin-left: 0;
    margin-right: 20px;

    @media (min-width: $screen-md) {
      margin-left: 10px;
      margin-right: 0;
    }
  }

  @media (min-width: $screen-md) {
    padding: 10px 0;
  }

  &__right {

    @media (min-width: $screen-md) {
      display: flex;
      justify-content: flex-end;

      .social-links {
        flex-wrap: nowrap;
      }
    }
  }

  &__right-text {
    display: block;
    margin-bottom: 13px;
    font-size: $font-size--small;
    color: $gray;

    @media (min-width: $screen-md) {
      margin-bottom: 0;
    }
  }



  &--share {
    margin-top: 15px;
    margin-bottom: 25px;

    .social-links li:not(:first-child) .social-links__item {
      margin-left: 20px;

      @media (min-width: $screen-md) {
        margin-left: 10px;
      }
    }

    @media (min-width: $screen-sm) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 10px 0;
    }

    #{$block-name}__right {

      @media (min-width: $screen-sm) {
        display: flex;
        justify-content: flex-end;
      }

      .social-links__item {
        margin-right: 0;
      }
    }

    #{$block-name}__right-text {
      margin-bottom: 5px;
      margin-right: 10px;
      font-size: $font-size;

      @media (min-width: $screen-sm) {
        margin-bottom: 0;
      }

      @media (min-width: $screen-md) {
        margin-right: 0;
      }
    }
  }
}

