// В этом файле должны быть стили только для БЭМ-блока social-contacts, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.social-contacts {
  
}
