// В этом файле должны быть стили для БЭМ-блока help-faq, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.help-faq {

  $block-name:                &; // #{$block-name}__element {}

  margin-bottom: 30px;

  &__title {
    margin: 0 0 16px;
    font-size: $font-size--h4;
    color: $gray;
  }

  &__all-link {
    position: relative;
    display: flex;
    align-items: center;
    padding: 8px 15px 8px 56px;
    margin-right: -15px;
    margin-left: -15px;
    min-height: 56px;
    font-weight: 600;
    transition: all 0.3s;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      left: 15px;
      height: 1px;
      background: $gray-lightest;
    }

    &:hover,
    &:focus {
      background: $gray-ultra-lightest;
    }
  }

  &__contact {
    padding: 18px 15px 16px 40px;
    border-bottom: 1px solid $gray-lightest;
    margin-right: -15px;
    line-height: 1.7;

    a {
      color: $text-color;
      transition: all 0.3s;

      &:hover,
      &:focus {
        color: $link-color--hover;
      }
    }
  }

  &__contact-page-link {
    display: block;
    position: relative;
    margin-bottom: 12px;
    margin-left: -38px;
    padding-left: 38px;
    line-height: $line-height;
    font-weight: 600;
    color: $link-color !important;

    &:hover,
    &:focus {
      color: $link-color--hover;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 16px;
    fill: $link-color;
    transform: translateY(-50%);
  }

  &__contact-icon {
    position: absolute;
    top: -2px;
    left: 0;
    fill: $link-color;
  }
}
