// В этом файле должны быть стили только для БЭМ-блока price, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.price {
  font-size: 21px; // нет переменной
  line-height: 1em;

  small {
    font-size: $font-size--small;
  }

  &__currency {
    margin-right: 0.2em;
  }
}
