// В этом файле должны быть стили только для БЭМ-блока layout-text, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.layout-text {
  flex-grow: 1;

  @media (min-width: $screen-lg) {
    display: flex;
  }

  &__main-only {
    width: 100%;
    max-width: 1530px;
    margin: 0 auto;
  }

  &__main {
    flex-basis: 67%;
    min-width: 67%;
    display: flex;
    justify-content: flex-end;

    li {
      margin-bottom: 4px;
    }

    &--has-desktop-bottom-btns {
      padding-bottom: 84px;
    }
  }

  &__main-inner {
    position: relative;
    padding: 30px 15px 45px;
    flex-grow: 1;
    width: 100%;
    max-width: 940px;
    clear: both;

    @media (min-width: $screen-xl) {
      padding-top: 50px;
      padding-left: 30px;
      padding-right: 30px;
    }

    @media (min-width: $screen-xxl) {
      max-width: 1040px;
      padding-right: 130px;
    }

    &--pt0 {
      padding-top: 0;

      @media (min-width: $screen-xl) {
        padding-top: 0;
      }
    }
  }

  &__aside {
    display: none;

    @media (min-width: $screen-lg) {
      display: flex;
      justify-content: flex-start;
      flex-basis: 33%;
      min-width: 33%;
      background-color: $gray-ultra-lightest;
    }

    &--bg-transparent {

      @media (min-width: $screen-lg) {
        background-color: transparent;
      }
    }
  }

  &__aside-inner {
    padding: 15px;
    flex-grow: 1;
    max-width: 420px;
    width: 420px;

    @media (min-width: $screen-xl) {
      padding: 30px;
    }
  }

  &__btns-desktop {
    display: none;

    @media (min-width: $screen-lg) {
      display: flex;
      position: fixed;
      z-index: 1;
      bottom: 0;
      left: 0;
      width: 67%;
    }

    @media (min-width: $screen-xl) {
      justify-content: flex-end;
    }
  }

  &__btns-desktop-pseudocontent {
    display: block;
    width: 100%;
    padding: 0 15px;
    // background-color: rgba;

    @media (min-width: $screen-xl) {
      max-width: 940px;
      padding-left: 30px;
      padding-right: 30px;
    }

    @media (min-width: $screen-xxl) {
      max-width: 1040px;
      padding-right: 130px;
    }
  }

  &__btns-desktop-inner {
    position: relative;
    display: flex;
    padding: 22px 0;
    // border-top: 1px solid $gray-lightest;
    background-color: #fff;
  }

  &__btns-desktop-shadow {
    position: absolute;
    bottom: 100%;
    left: -20px;
    right: -20px;
    height: 30px;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      top: 100%;
      left: 16px;
      right: 16px;
      height: 50px;
      box-shadow: 0 -4px 15px rgba(72,72,72, 0.08);
    }
  }

  &__btns-desktop-left {
    display: flex;
    align-items: center;
  }

  &__btns-desktop-right {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  // Мобильное представление. Свое, отдельное от визуально похожих вкладок стр. поиска
  &__btns-mobile {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 3;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 320px;
    background-color: #fff;
    border-top: 1px solid $gray-lightest;
    box-shadow: 0 -2px 10px rgba(72, 72, 72, 0.1);

    @media (min-width: $screen-lg) {
      display: none;
    }
  }

  &__btns-mobile-item {
    flex-grow: 1;
    flex-basis: 50%;
    font-size: ($font-size + 2);
    font-family: $font-family;
    font-weight: 500;
    text-decoration: none;
    border: none;
    background-color: #fff;
    padding: 20px 10px;
    color: $color-main;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;

    &:not(:first-child) {
      border-left: 1px solid $gray-lightest;
    }

    &--gray {
      color: $text-color;
    }

    &--invert {
      background-color: $color-main;
      color: #fff;
    }

    &[disabled],
    &--disabled {
      opacity: 0.6;
      cursor: default;
    }

    &--hide {
      display: none;
    }
  }

  &__btns-back {
    display: inline-block;
    padding: 0 10px 0 0;
    line-height: 40px;
    color: $gray;

    &:hover,
    &:focus {
      color: $color-main;

      svg {
        fill: $color-main;
      }
    }

    svg {
      fill: $gray;
    }
  }

  &__btns-desktop-simple {
    display: none;

    @media (min-width: $screen-lg) {
      display: flex;
    }
  }

  &__btn-right {
    margin-left: auto;

    &--hide {
      display: none;
    }
  }





  &--bg-gray {
    background: $gray-ultra-lightest;
  }
}
