// В этом файле должны быть стили только для БЭМ-блока layout-text, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.layout-text {

  @media (min-width: $screen-lg) {
    display: flex;
  }

  &__main-only {
    width: 100%;
    max-width: 1530px;
    margin: auto;
  }

  &__main {
    flex-basis: 67%;
    min-width: 67%;
    display: flex;
    justify-content: flex-end;

    li {
      margin-bottom: 4px;
    }
  }

  &__main-inner {
    position: relative;
    padding: 30px 15px 45px;
    flex-grow: 1;
    width: 100%;
    max-width: 940px;
    clear: both;

    @media (min-width: $screen-xl) {
      padding-top: 50px;
      padding-left: 30px;
      padding-right: 30px;
    }

    @media (min-width: $screen-xxl) {
      max-width: 1040px;
      padding-right: 130px;
    }

    // &--has-filter {
    //   padding-top: 78px;
    // }
  }

  &__aside {
    display: none;

    @media (min-width: $screen-lg) {
      display: flex;
      justify-content: flex-start;
      flex-basis: 33%;
      min-width: 33%;
      background-color: $gray-ultra-lightest;
    }
  }

  &__aside-inner {
    padding: 15px;
    flex-grow: 1;
    max-width: 420px;
    width: 420px;

    @media (min-width: $screen-xl) {
      padding: 30px;
    }
  }
}
