// В этом файле должны быть стили только для БЭМ-блока alert, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, $media-условий...
// Не пишите здесь другие селекторы.

$gray-lighter:                hsl(0, 0%, 80%) !default;
$gray-lightest:               hsl(0, 0%, 90%) !default;
$text-color:                  hsl(0, 0%, 10%) !default;
$line-height:                 1.375em;

$field-padding-vertical:      0.3em !default;
$field-padding-horizontal:    0.7em !default;

$border-radius:               3px !default;

.btn {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: ($field-padding-vertical + 4) $field-padding-horizontal;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: middle;
  user-select: none;
  text-align: center;
  font-family: inherit;
  font-size: $font-size;
  line-height: $font-size + 6;
  text-decoration: none;
  text-transform: none;
  color: #fff;
  font-weight: 500;
  border-radius: $border-radius;
  border: 1px solid transparent;
  background-color: $color-main;
  background-image: none;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(#737c94, 0.4);
  transition: background-color $transition-time;

  &:hover,
  &:focus {
    text-decoration: none;
    color: #fff;
    background-color: $color-main--accent;
    border-color: transparent;
    box-shadow: 0 1px 8px rgba(#737c94, 0.5);
  }

  &:active,
  &:focus {
    @include field-focus;
  }

  &--disabled,
  &:disabled {
    cursor: not-allowed;
    opacity: $opacity;
    color: #fff;
    background-color: $color-main;
    border-color: transparent;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  @media (min-width: $screen-md) {
    padding: $field-padding-vertical $field-padding-horizontal;
  }



  &--white {
    color: $color-main;
    background-color: #fff;
    // border: 1px solid $color-main;

    &:hover,
    &:focus {
      color: $color-main;
      background-color: #fff;
      box-shadow: 0 1px 3px rgba(#737c94, 0.2), 0 1px 5px rgba($color-main, 0.25);
    }

    &--disabled,
    &:disabled {
      color: $color-main;
      background-color: #fff;
    }
  }

  &--sm {
    font-size: $font-size--small;
  }

  &--wide {
    padding-left: 50px;
    padding-right: 50px;
  }
}
