// В этом файле должны быть стили только для БЭМ-блока btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, $media-условий...
// Не пишите здесь другие селекторы.

$gray-lighter:                hsl(0, 0%, 80%) !default;
$gray-lightest:               hsl(0, 0%, 90%) !default;
$text-color:                  hsl(0, 0%, 10%) !default;
$line-height:                 1.375em;

$field-padding-vertical:      0.3em !default;
$field-padding-horizontal:    0.7em !default;

$border-radius:               3px !default;

.btn {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: ($field-padding-vertical + 4) $field-padding-horizontal;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: middle;
  user-select: none;
  text-align: center;
  font-family: inherit;
  font-size: $font-size;
  line-height: $font-size + 6;
  text-decoration: none;
  text-transform: none;
  color: #fff;
  font-weight: 500;
  border-radius: $border-radius;
  border: 1px solid transparent;
  background-color: $color-main;
  background-image: none;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(#737c94, 0.4);
  transition: background-color $transition-time;

  svg {
    display: inline-block;
    margin-right: 0.5em;
    vertical-align: -0.2em;
    fill: #fff;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    color: #fff;
    background-color: $color-main--accent;
    border-color: transparent;
    box-shadow: 0 1px 8px rgba(#737c94, 0.5);
  }

  &:active,
  &:focus {
    @include field-focus;
  }

  &--disabled,
  &:disabled {
    cursor: not-allowed;
    opacity: $opacity;
    color: #fff;
    background-color: $color-main;
    border-color: transparent;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  @media (min-width: $screen-md) {
    padding: $field-padding-vertical $field-padding-horizontal;
  }

  &__inner {
    display: flex;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon-alone {
    margin: 0 !important;
  }



  &--link {
    vertical-align: baseline;
    color: $link-color;
    padding: 0 !important;
    border: none !important;
    background: transparent !important;
    box-shadow: none !important;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    &:hover,
    &:active,
    &:focus {
      color: $link-color--hover !important;
    }
  }

  &--white {
    color: $color-main;
    background-color: #fff;
    // border: 1px solid $color-main;

    &:hover,
    &:focus {
      color: $color-main;
      background-color: #fff;
      box-shadow: 0 1px 3px rgba(#737c94, 0.2), 0 1px 5px rgba($color-main, 0.25);
    }

    &--disabled,
    &:disabled {
      color: $color-main;
      background-color: #fff;
    }
  }

  &--red-text {
    color: $color-danger-2;

    &:hover,
    &:focus {
      color: $color-danger-2;
    }
  }

  &--sm {
    font-size: $font-size--small;
  }

  &--wide-s {
    padding-left: 24px;
    padding-right: 24px;

    @media (min-width: $screen-md) {
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  &--wide-m {
    padding-left: 34px;
    padding-right: 34px;

    @media (min-width: $screen-md) {
      padding-left: 34px;
      padding-right: 34px;
    }
  }

  &--wide {
    padding-left: 50px;
    padding-right: 50px;

    @media (min-width: $screen-md) {
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  &--minw-230 {
    min-width: 230px;
  }

  &--block {
    display: block;
    width: 100%;
  }

  &--icon {
    width: 32px;
    height: 32px;
    padding: 0 !important;
    color: $gray;
    background-color: #fff;
    border: 1px solid $border-color;
    box-shadow: none;

    &:hover,
    &:focus {
      color: $color-main;
      background-color: #fff;
      box-shadow: none;
      border: 1px solid $border-color;
    }

    svg {
      fill: currentColor;
      transition: fill $transition-time;
    }

    .close > span:before,
    .close > span:after {
      background-color: currentColor;
      transition: background-color $transition-time;
    }
  }

  &--lg-shown {
    display: none;

    @media (min-width: $screen-lg) {
      display: inline-block;
    }
  }

  &--lg {
    font-size: 1.3em;
    padding: 20px;

    @media (min-width: $screen-md) {
      padding: 20px;
    }
  }

  &--xs {
    padding-top: 9px;
    padding-bottom: 9px;
    font-size:  $font-size--small;

    @media (min-width: $screen-lg) {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }

  &--no-shadow {
    box-shadow: none !important;
  }

  &--youtube {
    position: relative;
    padding-left: 48px;
    padding-right: 25px;
    background: $color-youtube;
    box-shadow: 0 1px 3px 0 rgba(115, 124, 148, 0.4);

    @media (min-width: $screen-md) {
      padding-left: 48px;
      padding-right: 25px;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      color: #fff;
      background-color: darken($color-youtube, 10%);
      border-color: transparent;
      box-shadow: 0 1px 3px 0 rgba(115, 124, 148, 0.4);
    }

    svg {
      position: absolute;
      top: 50%;
      left: 8px;
      transform: translateY(-50%);
    }
  }

  &--facebook {
    position: relative;
    padding-left: 44px;
    padding-right: 15px;
    background: $color-facebook;
    box-shadow: 0 1px 3px 0 rgba(115, 124, 148, 0.4);

    @media (min-width: $screen-md) {
      padding-left: 44px;
      padding-right: 15px;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      color: #fff;
      background-color: darken($color-facebook, 10%);
      border-color: transparent;
      box-shadow: 0 1px 3px 0 rgba(115, 124, 148, 0.4);
    }

    svg {
      position: absolute;
      top: 50%;
      left: 11px;
      transform: translateY(-50%);
    }
  }

  &--success {
    background: $color-success;
    box-shadow: 0 1px 3px 0 rgba(115, 124, 148, 0.4);

    &:hover,
    &:focus {
      text-decoration: none;
      color: #fff;
      background-color: darken($color-success, 10%);
      border-color: transparent;
      box-shadow: 0 1px 3px 0 rgba(115, 124, 148, 0.4);
    }
  }
}
