// В этом файле должны быть стили только для БЭМ-блока main-pict, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.main-pict {
  display: block;
  position: relative;
  min-height: 142px;
  background: $gray-ultra-lightest;

  .checked-label {
    z-index: 2;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__other {
    display: none;
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 102px;
    height: 102px;
    color: #fff;
    background-color: #808080;
    border: 1px solid #fff;
    border-radius: $border-radius;

    @media (min-width: $screen-md) {
      display: block;
    }

    &:hover,
    &:focus {
      color: #fff;
    }
  }

  &__other-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__other-text {
    position: absolute;
    right: 0;
    bottom: 8px;
    left: 0;
    text-align: center;
    font-size: $font-size--small;
  }

  &__carousel {

    .owl-dots {
      display: none;
    }

    .owl-prev,
    .owl-next {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 40px;
      height: 40px;
      font-size: 0;
      color: transparent;
      overflow: hidden;
      transition: opacity $transition-time;

      &:before {
        content: '';
        display: block;
        width: 18px;
        height: 18px;
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
      }
    }

    .owl-prev {
      left: 0;

      &:before {
        transform: translateX(5px) rotate(135deg);
      }
    }

    .owl-next {
      right: 0;

      &:before {
        transform: translateX(-5px) rotate(-45deg);
      }
    }

    .disabled {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__sup-carousel-btns {
    position: absolute;
    z-index: 2;
    left: 20px;
    bottom: 20px;
    display: flex;

    .drop-btn:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__btns {
    position: absolute;
    z-index: 2;
    bottom: 20px;
    left: 20px;
    right: 20px;
    display: flex;
  }

  &__btns-group {
    display: flex;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &--right {
      margin-left: auto;
    }
  }

  &__labels-wrap {
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    .label {
      margin-right: 8px;
      margin-bottom: 8px;
    }
  }

  &__check-sm {

    @media (min-width: $screen-lg) {
      display: none;
    }
  }




  &--show-sm {

    @media (min-width: $screen-md) {
      display: none;
    }
  }

  &--hide-sm {
    display: none;

    @media (min-width: $screen-md) {
      display: block;

      &:before {
        content: '';
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        bottom: 0;
        height: 120px;
        background-image: linear-gradient(to top, rgba(49, 53, 63, 0.5), rgba(49, 53, 63, 0));
        opacity: 0.85;
      }
    }
  }
}
