// В этом файле должны быть стили для БЭМ-блока add-type, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.add-type {

  $block-name:                &; // #{$block-name}__element {}

  @media (min-width: $screen-xl) {
    height: 100%;
  }

  &__inner-left {

    @media (min-width: $screen-xl) {
      width: 230px;
      height: 100%;
    }
  }

  &__descr {
    padding-top: 15px;

    @media (min-width: $screen-xl) {
      display: none;
    }
  }

  &__drag {
    display: none;

    @media (min-width: $screen-xl) {
      display: flex;
      align-items: center;
      margin: 0;
      height: 56px;
      padding: 10px 10px 10px 18px;
      border-top-left-radius: $border-radius;
      overflow: hidden;
      background-color: $gray-darkest;
      color: #fff;
      font-size: $font-size--small;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: $screen-sm) {
      display: flex;
      flex-wrap: wrap;
      margin-left: -7px;
      margin-right: -7px;
      // margin-left: -15px;
      // margin-right: -15px;
    }

    @media (min-width: $screen-lg) {

      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        max-width: 622px;
      }
    }

    @media (min-width: $screen-xl) {
      width: 100%;
      height: calc(100% - 56px);
      overflow-y: auto;
      margin: 0;
      border-left: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
      border-bottom-left-radius: $border-radius;
    }
  }

  &__item-wrap {
    display: block;
    margin-bottom: 15px;

    @media (min-width: $screen-sm) {
      flex-basis: 50%;
      min-width: 50%;
      padding-left: 7px;
      padding-right: 7px;
      // padding: 0 15px;

      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        flex-basis: auto !important;
        width: 50%;
      }
    }

    @media (min-width: $screen-md) {
      flex-basis: 33.3%;
      min-width: 33.3%;

      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        flex-basis: auto !important;
        min-width: 1px !important;
        width: 33%;
      }
    }

    @media (min-width: $screen-xl) {
      flex-basis: 100%;
      min-width: 100%;
      padding: 0;
      margin: 0;

      &:not(:last-child) {
        border-bottom: 1px solid $border-color;
      }

      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        flex-basis: auto !important;
        min-width: 1px !important;
        width: 100%;
      }
    }

    input {
      position: absolute;
      top: 0;
      left: 0;
      visibility: hidden;
    }
  }

  &__item {
    position: relative;
    display: block;
    height: 48px;
    padding: 0 5px 0 50px;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    line-height: 48px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $text-color;
    cursor: pointer;
    transition: color $transition-time;

    input:checked ~ &,
    &:hover,
    &:focus {
      color: $color-main--accent;

      svg {
        fill: $color-main--accent;
      }
    }

    @media (min-width: $screen-xl) {
      border: 0;
      border-radius: 0;
    }

    svg {
      position: absolute;
      top: 50%;
      left: 25px;
      transform: translate(-50%, -50%);
      fill: $gray;
      transition: fill $transition-time;
    }
  }

  &__item-name {
  }

}
