// В этом файле должны быть стили для БЭМ-блока add-type, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.add-type {

  $block-name:                &; // #{$block-name}__element {}

  &__inner-left {
  }

  &__descr {
    padding-top: 15px;
  }

  &__drag {
    display: none;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: $screen-sm) {
      display: flex;
      flex-wrap: wrap;
      margin-left: -15px;
      margin-right: -15px;
    }
  }

  &__item-wrap {
    margin-bottom: 15px;

    @media (min-width: $screen-sm) {
      flex-basis: 50%;
      min-width: 50%;
      padding: 0 15px;
    }

    @media (min-width: $screen-md) {
      flex-basis: 33.3%;
      min-width: 33.3%;
    }
  }

  &__item {
    position: relative;
    display: block;
    height: 48px;
    padding: 0 5px 0 50px;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    line-height: 48px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $text-color;
    cursor: pointer;
    transition: color $transition-time;

    &:hover,
    &:focus {
      color: $color-main--accent;

      svg {
        fill: $color-main--accent;
      }
    }

    svg {
      position: absolute;
      top: 50%;
      left: 25px;
      transform: translate(-50%, -50%);
      fill: $gray;
      transition: fill $transition-time;
    }
  }

  &__item-name {
  }

}
