// В этом файле должны быть стили только для БЭМ-блока team, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.team {
  overflow: hidden;
  margin-top: 50px;

  .layout-text__h2 {
    margin-top: 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 -30px;
    padding: 0;
    list-style: none;
  }

  &__list-item {
    padding-left: 30px;
    margin-bottom: 30px;
  }
}
