// В этом файле должны быть стили для БЭМ-блока typeahead, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.typeahead {

  $block-name:                &;

  margin-bottom: 20px;

  &__container button,
  &__container input {
    overflow: visible
  }

  &__container {
    position: relative;
    font: inherit
  }

  &__container * {
    outline: 0
  }

  &__query {
    position: relative;
    z-index: 2;
    width: 100%
  }

  &__field {
    display: flex;
    position: relative;
    width: 100%;

    input {
      padding-right: 40px;
      transition: all 0.3s;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 24 24'%3E%3Cpath d='M11 5c-3.308 0-6 2.692-6 6s2.692 6 6 6c1.294 0 2.49-.416 3.47-1.115l4.823 4.822 1.414-1.414-4.822-4.822A5.958 5.958 0 0 0 17 11c0-3.308-2.692-6-6-6zm0 1c2.767 0 5 2.233 5 5s-2.233 5-5 5-5-2.233-5-5 2.233-5 5-5z' fill='%238891a6'/%3E%3C/svg%3E");
      background-size: 24px 24px;
      background-position: right 8px top 50%;
      background-repeat: no-repeat;

      // @media (min-width: $screen-md) {
      //   padding: 9px 14px;
      // }

      &[type=search],
      &[type=search]::-webkit-search-cancel-button {
        -webkit-appearance: none;
        appearance: none
      }

      &[type=search]::-ms-clear {
        display: none;
        width: 0;
        height: 0
      }

      .cancel & {
        background-image: none;
      }

      &:active,
      &:focus {
        box-shadow: none;
        border-color: $color-main--light;
        background-color: $color-main--ultralight;
      }
    }
  }

  &__list {
    display: none;
    position: absolute;
    left: 0;
    z-index: 4;
    width: 100%;
    min-width: 160px;
    max-height: 200px;
    overflow-y: scroll;
    margin: 8px 0 0;
    padding: 4px 0;
    border: 1px solid $gray-lightest;
    border-radius: 2px;
    list-style: none;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;

    .result & {
      display: block;
    }
  }

  &__item {

    a {
      display: block;
      padding: 8px 16px;
      font-size: $font-size--h4;
      color: $text-color;
      text-decoration: none;

      &:hover,
      &:focus {
        color: $text-color;
        text-decoration: none;
      }

      strong {
        font-weight: 400;
        color: $link-color;
      }
    }
  }

  &__empty {
    padding: 32px;
    text-align: center;
  }

  &__cancel-button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 40px;
    color: transparent;
    cursor: pointer;
    visibility: hidden;
    user-select: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 24 24'%3E%3Cpath d='M7.707 6.293L6.293 7.707 10.586 12l-4.293 4.293 1.414 1.414L12 13.414l4.293 4.293 1.414-1.414L13.414 12l4.293-4.293-1.414-1.414L12 10.586 7.707 6.293z' overflow='visible' fill='%238891a6'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center;
  }

  &__container.cancel:not(.loading) &__cancel-button {
    visibility: visible;
  }

}
