// В этом файле должны быть стили для БЭМ-блока layout-object, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.layout-object {

  $block-name:                &; // #{$block-name}__element {}

  @media (min-width: $screen-lg) {
    display: flex;
  }

  @media (min-width: $screen-xxl) {
    width: 1400px;
    margin: auto;
  }

  &__main {
    flex-grow: 1;
    padding: 0 15px;

    @media (min-width: $screen-osx) {
      display: flex;
      justify-content: flex-end;
      padding-right: 30px;

      .list-property {
        width: 880px;
      }
    }

    @media (min-width: $screen-xxl) {
      padding-right: 50px;
    }
  }

  &__aside {
    display: none;

    @media (min-width: $screen-lg) {
      display: block;
      flex-basis: 33%;
      min-width: 33%;
      padding-right: 15px;
    }

    @media (min-width: $screen-osx) {
      padding-left: 25px;

      .object-price-data {
        width: 400px;
      }
    }

    @media (min-width: $screen-xxl) {
      padding-left: 45px;
    }
  }

}
