// В этом файле должны быть стили для БЭМ-блока layout-object, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.layout-object {

  $block-name:                &; // #{$block-name}__element {}

  @media (min-width: $screen-lg) {
    display: flex;
  }

  &__main {
    flex-grow: 1;
    padding: 0 15px;
  }

  &__aside {
    display: none;

    @media (min-width: $screen-lg) {
      display: block;
      flex-basis: 33%;
      min-width: 33%;
      padding-right: 15px;
    }
  }

}
