// В этом файле должны быть стили только для БЭМ-блока gallery-content, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.gallery-content {
  padding: 15px 0;

  &__carousel-item {
    max-height: 410px;

    img {
      width: 100%;
      height: auto;
      max-height: 410px;
      object-fit: cover;
    }
  }

  &__carousel {

    .owl-dots {
      display: none;
    }

    .owl-prev,
    .owl-next {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 50px;
      height: 50px;
      font-size: 0;
      color: transparent;
      overflow: hidden;
      transition: opacity $transition-time;

      &:before {
        content: '';
        display: block;
        width: 32px;
        height: 32px;
        border-right: 3px solid #fff;
        border-bottom: 3px solid #fff;
      }
    }

    .owl-prev {
      left: 15px;

      &:before {
        transform: translateX(5px) rotate(135deg);
      }
    }

    .owl-next {
      right: 15px;

      &:before {
        transform: translateX(-5px) rotate(-45deg);
      }
    }

    .disabled {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__preview-list {
    display: none;
    padding-top: 23px;
    margin-left: -26px;

    @media (min-width: $screen-lg) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__preview-item {
    width: 102px;
    height: 77px;
    margin-left: 26px;
    margin-bottom: 23px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__no-carousel {

    @media (min-width: $screen-md) {
      display: flex;
      flex-wrap: wrap;
      margin-left: -7px;
      margin-right: -7px;
    }

    @media (min-width: $screen-osx) {
      margin-left: -15px;
      margin-right: -15px;
    }
  }

  &__no-carousel-item-wrap {
    display: none;

    @media (min-width: $screen-md) {
      display: block;
      width: 50%;
      padding: 0 7px;
    }

    @media (min-width: $screen-osx) {
      padding: 0 15px;
    }

    &--mobile-shown {
      display: block;

      & ~ & {
        margin-top: 30px;

        @media (min-width: $screen-md) {
          margin-top: 0;
        }
      }
    }
  }

  &__no-carousel-item {
    display: block;
    max-height: 410px;
    width: 100%;
    object-fit: cover;

    @media (min-width: $screen-md) {
      height: 353px;
    }

    @media (min-width: $screen-lg) {
      height: 312px;
    }

    @media (min-width: $screen-xl) {
      height: 350px;
    }

    @media (min-width: $screen-osx) {
      height: 433px;
    }
  }
}
