// В этом файле должны быть стили только для БЭМ-блока field-radio, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, $media-условий...
// Не пишите здесь другие селекторы.

$line-height:                 1.375em !default;

.field-radio {

  $block-name:                &;

  display: block;
  margin-bottom: ($line-height / 2);

  &__title {
    display: block;
    font-weight: 700;
    line-height: $line-height;
    margin-bottom: 0.4em;
  }

  &__input-wrap {

    & + & {
      margin-top: 15px;
    }
  }

  &__name {
    position: relative;
    display: inline-block;
    padding-left: 23px;
    margin-right: 0.6em;
    font-weight: 400;
    line-height: $line-height;
  }

  &__name-text {

    &:before {
      content: '';
      position: absolute;
      top: 0.2em;
      left: 0;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      border: 1px solid $gray-lighten;
      background-color: $gray-ultra-lightest;
    }

    @at-root input:checked ~ &:before {
      background-color: $color-main--ultralight;
      border-color: $color-main;
    }

    @at-root input:checked ~ &:after {
      content: '';
      position: absolute;
      top: calc(0.2em + 4px);
      left: 4px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: $color-main;
    }
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }

  &__help-text-wrap {
    padding-left: 1.5em;
  }

  &__help-text {
    @include field-help-text;
  }



  &--md-inline {

    @media (min-width: $screen-md) {
      display: flex;
      flex-wrap: wrap;

      #{$block-name}__input-wrap {
        margin-right: 20px;
      }

      #{$block-name}__input-wrap + #{$block-name}__input-wrap {
        margin-top: 0;
      }
    }
  }

  &--mb30 {
    margin-bottom: 30px;
  }
}
