// В этом файле должны быть стили только для БЭМ-блока card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.card {

  $block-name:               &;

  display: flex;
  flex-direction: column;
  position: relative;
  width: 290px;
  transition: box-shadow $transition-time;

  &:hover,
  &--active {
    box-shadow:
      0 4px 25px rgba(#477afb, 0.3),
      0 1px 25px rgba(#737c94, 0.3);
  }

  @media (min-width: $screen-lg) {
    width: 360px;
  }

  &__labels-wrap {
    position: absolute;
    top: 16px;
    left: 16px;
    display: flex;
    align-items: flex-start;

    .label + .label {
      margin-left: 8px;
    }
  }

  &__checked {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #fff;
    font-size: $font-size--small;
    color: $color-success;
    cursor: default;

    svg {
      margin-bottom: 4px;
    }
  }

  &__name {
    order: 3;
    padding: 18px 20px;
    border: 1px solid $gray-lightest;
    border-top: none;

    @media (min-width: $screen-lg) {
      padding: 22px 20px;
    }

    &--pb10 {
      padding-bottom: 10px;
    }
  }

  &__title {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: $font-size;

    @media (min-width: $screen-lg) {
      font-size: $font-size--h3;
    }

    a {
      color: $text-color;

      &:hover,
      &:focus {
        color: $color-main--accent;
      }
    }
  }

  &__descr {
    margin: 0;
    font-size: $font-size--small;
  }

  &__photo {
    order: 1;
    height: 216px;

    @media (min-width: $screen-lg) {
      height: 270px;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
  }

  &__photo-carousel {
    position: relative;
    min-height: 217px;

    .owl-dots {
      display: none;
    }

    .owl-prev,
    .owl-next {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 40px;
      height: 40px;
      font-size: 0;
      color: transparent;
      overflow: hidden;
      transition: opacity $transition-time;

      &:before {
        content: '';
        display: block;
        width: 18px;
        height: 18px;
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
      }
    }

    .owl-prev {
      left: 0;

      &:before {
        transform: translateX(5px) rotate(135deg);
      }
    }

    .owl-next {
      right: 0;

      &:before {
        transform: translateX(-5px) rotate(-45deg);
      }
    }

    .disabled {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__info {
    position: relative;
    order: 2;
    border: 1px solid $gray-lightest;
  }

  &__info-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }

  &__info-list-item {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 8px;
    font-size: $font-size--small;
    text-align: center;
    white-space: nowrap;

    &:not(:last-child) {
      border-right: 1px solid $gray-lightest;
    }
  }

  &__info-list-num {
    font-size: $font-size--h3;
    font-weight: 500;
  }

  &__info-tooltip {
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 12px;
    height: 12px;

    @media (min-width: $screen-lg) {
      display: block;
    }

    svg {
      display: block;
      fill: $gray;
    }

    &:hover,
    &:focus {

      svg {
        fill: $color-main;
      }
    }
  }

  &__footer {
    order: 4;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    border: 1px solid $gray-lightest;
    border-top: none;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  &__footer-item {

    &:not(:first-child) {
      border-left: 1px solid $gray-lightest;
    }

    .btn-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      cursor: pointer;
    }

    &--price {
      flex-grow: 1;
      margin-right: auto;
      padding: 0 18px;
    }

    &--compare {
      display: none;

      @media (min-width: $screen-lg) {
        display: block;
      }
    }

    &--notice {
      // display: none;

      // @media (min-width: $screen-lg) {
      //   display: block;
      // }
    }
  }

  &__price {
    display: block;
    max-width: 207px;
    font-weight: 500;
    line-height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: ($font-size--h3 + 2);
  }

  &__price-currency {
    margin-right: 0.5em;
  }

  &__price-num {
  }

  &__price-per-mo {
    font-weight: 400;
    font-size: $font-size--small;
  }

  &__rent-data {
    position: relative;
    min-height: 50px;
    margin-right: -10px;
    margin-top: 10px;
    padding-top: 12px;
    padding-right: 50px;
    border-top: 1px solid $gray-lightest;

    .progress {
      margin-top: 6px;
    }
  }

  &__rent-data-inner {
    max-width: 270px;
  }

  &__rent-del {
    position: absolute;
    top: 15px;
    right: 0;

    &.btn-icon {
      width: 32px;
      height: 32px;
    }
  }

  &__price-text {
    display: none;
  }

  &__info-square {
    display: none;

    @media (min-width: $screen-osx) {
      display: inline;
    }
  }

  &__del {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
  }




  &--lg {
    width: auto;
    min-width: 290px;
    max-width: 490px;

    @media (min-width: $screen-lg) {
      width: auto;
    }
  }

  &--profile {
    position: relative;
    width: 100%;
    max-width: 450px;
    margin-bottom: 15px;

    &:hover {
      box-shadow: none;
    }

    .btn-icon {
      background-color: #fff;
    }

    .btn-icon svg {
      fill: $gray;
    }

    .close {
      z-index: 0;
    }

    #{$block-name}__title {
      font-size: 16px;
      margin-bottom: 3px;
    }

    #{$block-name}__photo {
      height: auto;
      max-height: 340px;
    }

    #{$block-name}__price {
      max-width: 100%;
    }

    #{$block-name}__footer-item--price {
      min-width: 0;
    }

    @media (min-width: $screen-lg) {
      width: 100%;
      max-width: 100%;
      min-height: 94px;
      border: 1px solid $gray-lightest;
      border-radius: $border-radius;
      padding-right: 18px;
      flex-direction: row;
      align-items: center;

      .field-multifile {
        padding-top: 10px;
        padding-bottom: 10px;
        height: 94px;
        min-height: 94px;
      }

      #{$block-name}__name {
        border: none;
        padding: 2px 20px 0 0;
        max-width: calc(100% - 424px);
        margin-right: auto;
      }

      #{$block-name}__title {
        line-height: $line-height;
        font-weight: 500;
        font-size: $font-size;
        margin: 0;
        max-height: 38px;
        overflow: hidden;
      }

      #{$block-name}__descr {
        display: block;
        margin-top: 6px;
        color: $gray;
        line-height: $line-height;
        max-height: 32px;
        overflow: hidden;
      }

      #{$block-name}__info-list-item {
        border: none !important;
        padding: 0;
        margin-right: 1em;
        color: $gray;
      }

      #{$block-name}__info-list-num {
        font-size: $font-size;
        color: $text-color;
      }


      #{$block-name}__info {
        display: none;
        border: none;
      }

      #{$block-name}__info-list {
        display: inline-flex;
      }

      #{$block-name}__photo {
        width: 134px;
        height: 94px;
        margin-right: 20px;
        align-self: flex-start;
        flex-shrink: 0;
      }

      #{$block-name}__footer {
        border: none !important;
        width: 270px;
        flex-shrink: 0;
        align-items: center;
      }

      #{$block-name}__footer-item {
        border: none !important;

        .btn-icon {
          width: 32px;
          height: 32px;
          border: 1px solid $gray-lightest;
          border-radius: $border-radius;
        }
      }

      #{$block-name}__footer-item + #{$block-name}__footer-item {
        margin-left: 20px;
      }

      #{$block-name}__footer-item--price {
        padding: 0;
      }

      #{$block-name}__price {
        font-size: $font-size;
        line-height: $line-height;
      }

      #{$block-name}__price-text {
        display: block;
        margin-top: 5px;
        font-size: $font-size--small;
        line-height: $line-height;
        color: $gray;
        font-weight: 400;
      }

      #{$block-name}__rent-data {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 18px;
        width: 270px;
        margin: 0;
        padding-top: 0;
        border: none;
      }
    }

    @media (min-width: $screen-osx) {

      #{$block-name}__info {
        display: block;
        width: 208px;
        order: 4;
      }

      #{$block-name}__info-list {
        display: flex;
      }

      #{$block-name}__info-list-item {
        text-align: left;
        margin-right: 30px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &--bed {
          flex-basis: 30px;
          min-width: 30px;
        }

        &--bath {
          flex-basis: 30px;
          min-width: 30px;
        }

        &--square {
          flex-basis: 70px;
          min-width: 70px;
        }
      }

      #{$block-name}__info-list-num {
        display: block;
        line-height: $line-height;
        margin-bottom: 4px;
      }

      #{$block-name}__rent-data {
        width: 362px;
        min-height: 32px;
      }

      #{$block-name}__rent-del {
        top: 50%;
        transform: translateY(-50%);
      }

      #{$block-name}__rent-data-inner {

        .progress {
          max-width: 240px;
        }
      }
    }
  }
}
