// В этом файле должны быть стили только для БЭМ-блока order-short-list, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.order-short-list {

  $block-name:                &;

  &__header {
    margin: 0 0 20px;
    padding: 0 0 18px;
    font-weight: 400;
    font-size: $font-size--h3;
    border-bottom: 1px solid $gray-lightest;
  }

  &__item {
    position: relative;

    &:not(:first-child) {
      padding-top: 30px;
    }

    &:not(:last-child) {
      padding-bottom: 30px;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 1px;
        width: 100%;
        background-image: linear-gradient(to right, #D3D6DE 1px, #8991A7 2px, #D3D6DE 3px, #fff 4px, #fff 9px);
        background-size: 10px 1px;
      }
    }

    &--pb0:not(:last-child) {
      padding-bottom: 0;
    }
  }

  &__title {
    margin: 0 0 7px;
    font-size: $font-size;
    font-weight: 400;
    color: $gray;
  }

  &__sublist {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__sublist-item {
    display: flex;

    &--icon {
      margin: 12px 0 15px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__name {
    flex-grow: 1;
    padding-right: 5px;

    // Увы и ах. Хак для Сафари :(
    _::-webkit-full-page-media, _:future, :root & {padding-top: 3px;}
  }

  &__remove {
    flex-shrink: 0;
    margin-right: 10px;
  }

  &__price {
    white-space: nowrap;
  }

  &__total-wrapper {
    display: flex;
    font-size: $font-size--h3;
    font-weight: 500;
    padding-top: 40px;
  }



  &--single {
    border: 1px solid $gray-lightest;
    padding: 20px;
    max-width: 450px;

    #{$block-name}__title {
      margin: 0;
    }

    #{$block-name}__sublist-item {
      margin: 0;
    }

    #{$block-name}__item {
      padding: 0 0 20px;

      &:after {
        display: none;
      }

      &--pb0 {
        padding-bottom: 0;
      }
    }

    #{$block-name}__total-wrapper {
      padding: 20px 0 0;
      margin-top: 10px;
      border-top: 1px solid $gray-lightest;
      color: $color-success;
    }
  }
}
