// В этом файле должны быть стили только для БЭМ-блока field-file, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, $media-условий...
// Не пишите здесь другие селекторы.

.field-file {
  display: block;

  &__input-wrap {
    display: inline-block;
    position: relative;
  }

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
  }

  &__name-text {
    display: none;
    position: relative;
    width: 100%;
    cursor: pointer;

    @media (min-width: $screen-md) {
      display: block;
    }
  }

  &__name-pseudolink {
    color: $color-main;
  }

  &__btn {

    @media (min-width: $screen-md) {
      display: none;
    }
  }

  &__uploading {
    margin-top: 30px;
  }

  &__list {
    margin: 15px 0 20px;
    padding: 0;
    list-style: none;
  }

  &__list-item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__list-item-remove {
    flex-shrink: 0;
    margin-right: 10px;
  }

  &__list-filename {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__uploading-text {
    display: block;
    margin-bottom: 5px;
  }

  &__progress {
    max-width: 230px;
  }



  &--mb30 {
    margin-bottom: 30px;
  }

  &--sm {
    font-size: $font-size--small;
  }
}
