// В этом файле должны быть стили только для БЭМ-блока logo, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 12;
  white-space: nowrap;
  min-width: $header-height;
  height: $header-height;

  @media (max-width: ($menu-desktop-width - 1)) {
    transform: translateX(-5px);
  }

  @media (min-width: $screen-xxl) {
    width: 100px;
    border-right: 1px solid $gray-lightest;
    flex-shrink: 0;
  }

  img {
    display: block;
  }
}
