// В этом файле должны быть стили только для БЭМ-блока logo, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  min-width: $header-height;
  height: $header-height;

  img {
    display: block;
  }
}
