// В этом файле должны быть стили только для БЭМ-блока president, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.president {

  &__text {

    .team-item {
      margin-bottom: 30px;
    }
  }

  &__msg {
    font-weight: 500;
    margin: 0 0 20px;
  }

  &__msg-footer {
    display: block;
    margin-top: 12px;
    font-weight: 400;
  }
}
