// В этом файле должны быть стили для БЭМ-блока layout-forum, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.layout-forum {

  $block-name:                &; // #{$block-name}__element {}

  flex-grow: 1;
  background-color: $gray-ultra-lightest;

  &__inner {
    max-width: 1204px;
    margin: auto;
    padding: 0 12px;

    @media (min-width: $screen-lg) {
      display: flex;
    }
  }

  &__main {

    @media (min-width: $screen-lg) {
      flex-grow: 1;
      min-width: 0;
      padding-right: 20px;
    }
  }

  &__aside {
    position: relative;

    @media (min-width: $screen-lg) {
      width: 260px;
      padding-top: 40px;
      padding-bottom: 116px;
    }

    @media (min-width: $screen-xl) {
      width: 280px;
      padding-top: 50px;
    }
  }

  &__header {
    padding: 8px 0 24px;
  }

  &__breadcrumbs {
    margin-top: 24px;
    margin-bottom: 32px;
    color: $gray-light;
  }

  &__main-title {
    margin: 24px 0 8px;
    font-size: $font-size--h2;
    line-height: 1.333;
    color: $text-color;

    @media (min-width: $screen-xl) {
      margin-top: 40px;

      &--lg {
        font-size: $font-size--h1;
        line-height: 1.25;
      }
    }
  }

  &__main-descr {
    color: $text-color--muted;

    p:last-child {
      margin-bottom: 0;
    }
  }

  &__header-line {
    margin-top: 24px;

    @media (min-width: $screen-lg) {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      border-bottom: 1px solid $gray-lightest;
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }

  &__theme-data {
    flex-shrink: 0;

    @media (min-width: $screen-lg) {
      display: flex;
      flex-wrap: wrap;
      margin-top: 16px;
    }
  }

  &__theme-data-item {
    margin-bottom: 8px;

    @media (min-width: $screen-lg) {
      margin-right: 24px;
    }

    svg {
      fill: $gray-light;
    }
  }

  &__add-question {
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    flex-shrink: 0;

    @media (min-width: $screen-lg) {
      position: static;
      left: auto;
      right: auto;
      bottom: auto;
      margin-left: auto;
      margin-bottom: 16px;
    }
  }

  &__aside-personal {
    display: none;
    margin-bottom: 36px;

    @media (min-width: $screen-lg) {
      display: block;
    }
  }

  &__aside-search {
    display: none;
    margin-bottom: 40px;

    @media (min-width: $screen-lg) {
      display: block;
    }
  }

  &__aside-most-interesting {
    margin-bottom: 48px;
  }

  &__top-5 {

    &--md-hidden {
      display: none;

      @media (min-width: $screen-lg) {
        display: block;
      }
    }
  }

  &__has-question {
    display: none;

    @media (min-width: $screen-lg) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: fixed;
      z-index: 1;
      bottom: 0;
      width: 260px;
      height: 100px;
      padding: 16px 16px 16px 48px;
      border-radius: 16px 16px 0 0;
      color: $white !important;
      text-decoration: none;
      background: $color-main;

      &--bottom {
        position: absolute;
      }
    }

    @media (min-width: $screen-xl) {
      width: 280px;
    }

    small {
      display: block;
      margin-top: 8px;
    }
  }

  &__has-question-icon-wrap {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: currentColor;
  }

  &__has-question-icon {
    fill: $color-main;
  }

  &__has-question-arr {
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
    fill: currentColor;
  }
}
