// В этом файле должны быть стили только для БЭМ-блока comment, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.comment {

  $block-name:                &;

  & > & {
    padding-left: 20px;

    @media (min-width: $screen-md) {
      padding-left: 45px;
    }
  }

  & > & > & {
    padding-left: 0;
  }

  &__header {
    display: flex;
    margin-bottom: 16px;
  }

  &__body {
    padding-bottom: 15px;
    margin-bottom: 25px;
    border-bottom: 1px solid $gray-lightest;
  }

  &__avatar-wrap {
    display: block;
    width: 48px;
    min-width: 48px;
    height: 48px;
    margin-right: 20px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  &__user-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }

  &__username {
    font-size: $font-size;
    margin: 0;
    padding: 0;
    font-weight: 500;
  }

  &__date {
    font-size: $font-size--small;
    color: $gray;
  }

  &__reply-link {
    position: relative;
    margin-top: 10px;
    padding-left: 20px;

    font-size: $font-size--small;

    svg {
      position: absolute;
      top: 0.1em;
      left: 0;
      fill: $color-main;
    }
  }

  &__form-inner {
    display: flex;
  }

  &__field-wrapper {
    flex-grow: 1;
  }



  &--form {

    #{$block-name}__avatar-wrap {
      display: none;

      @media (min-width: $screen-lg) {
        display: block;
      }
    }
  }

  &--forum {

    & > &,
    & > & > & {
      padding-left: 16px;
      border-left: 1px dashed $gray-light;

      @media (min-width: $screen-md) {
        padding-left: 30px;
      }
    }

    & > & > & > & > & > & {
      padding-left: 0;
      border-left: 0;

      @media (min-width: $screen-md) {
        padding-left: 30px;
        border-left: 1px dashed $gray-light;
      }
    }

    & > & > & > & > & > & > & > & {
      padding-left: 0;
      border-left: 0;
    }

    #{$block-name}__header {
      margin-bottom: 8px;
    }

    #{$block-name}__user-info {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: flex-start;
      align-items: baseline;
      min-width: 0;
      margin-top: 6px;
    }

    #{$block-name}__username {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    #{$block-name}__date {
      position: relative;
      font-size: inherit;
      flex-shrink: 0;
      padding-left: 22px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:before {
        content: '';
        position: absolute;
        top: 8px;
        left: 9px;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: $gray;
      }
    }

    #{$block-name}__body {
      padding-bottom: 0;
      border-bottom: 0;
    }

    #{$block-name}__content {

      & > *:last-child {
        margin-bottom: 0;
      }
    }

    #{$block-name}__avatar-wrap {
      width: 32px;
      min-width: 32px;
      height: 32px;
      margin-right: 8px;
    }

    #{$block-name}__reply-link {
      margin-top: 4px;
      border: 0;
      padding: 0;
      font-size: inherit;
      color: $gray;
      background: none;
      cursor: pointer;
    }
  }
}
