// В этом файле должны быть стили для БЭМ-блока forum-top-users, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.forum-top-users {

  $block-name:                &; // #{$block-name}__element {}

  &__title {
    margin: 0 0 24px;
    font-size: 16px;
    font-weight: 900;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 32px;
  }

  &__item-user {
    flex-grow: 1;
    max-width: calc(100% - 40px);
  }

  &__user-btn {
    margin-left: 8px;
    flex-shrink: 0;
  }
}
