// В этом файле должны быть стили только для БЭМ-блока close, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

$toggler-part-height:         3px !default;
$toggler-part-bg-color:       #000 !default;

.close {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  user-select: none;
  cursor: pointer;

  > span {
    display: inline-block;
    width: 100%;
    height: $toggler-part-height;
    background: transparent;
    position: relative;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: $toggler-part-height;
      background: $toggler-part-bg-color;
      transform-origin: 50% 50%;
    }

    &:before {
      transform: rotate3d(0, 0, 1, 45deg);
    }

    &:after {
      transform: rotate3d(0, 0, 1, -45deg);
    }
  }

  &--bold {

    > span {

      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 70%;
        height: $toggler-part-height + 1;
        background: $toggler-part-bg-color;
        border-radius: 2px;
        transform-origin: 50% 50%;
      }

      &:before {
        transform: translate(-50%, -50%) rotate3d(0, 0, 1, 45deg);
      }

      &:after {
        transform: translate(-50%, -50%) rotate3d(0, 0, 1, -45deg);
      }
    }
  }


  &--sm {
    width: 20px;
    height: 20px;
    border: 1px solid $gray;
    padding: 3px;
    border-radius: 50%;
    background-color: #fff;

    // > span {

    //   &:before,
    //   &:after {
    //     content: '';
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     width: 70%;
    //     height: $toggler-part-height + 1;
    //     background: $toggler-part-bg-color;
    //     border-radius: 2px;
    //     transform-origin: 50% 50%;
    //   }

    //   &:before {
    //     transform: translate(-50%, -50%) rotate3d(0, 0, 1, 45deg);
    //   }

    //   &:after {
    //     transform: translate(-50%, -50%) rotate3d(0, 0, 1, -45deg);
    //   }
    // }
  }
}
