// В этом файле должны быть стили для БЭМ-блока bubbles, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.bubbles {

  $block-name:                &; // #{$block-name}__element {}
  $size: 220px;

  position: relative;
  width: $size;
  height: $size;
  overflow: hidden;

  &__inner {
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }

  &__main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 50%;
    width: 67.5%;
    height: 67.5%;
    border-radius: 50%;
    background-color: $color-success-2;
    transform: translateX(-50%);

    svg {
      fill: #fff;
    }
  }

  &__item {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    animation: bubbles-move 1.5s infinite;
    background: $color-success-2;

    @for $i from 1 through 6 {
      &:nth-child(#{$i}){
        $size-item: random(8) + 17%;
        height: $size-item;
        width: $size-item;
        animation-delay: -$i * 1.1s;
        transform: translate( ($size / 100 * (random(400) / 10 + 23)),  ($size / 100 * (random(310) / 10 + 31))) scale(1);
      }
    }
  }

  @keyframes bubbles-move {
    100% {
      transform: translate(($size / 2.7), -5px) scale(0.2);
    }
  }

}

