// В этом файле должны быть стили только для БЭМ-блока top-rated, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.top-rated {
  padding: 15px 15px 35px;
  background-color: #fff;
  border-bottom: 1px solid $gray-lightest;

  @media (min-width: $screen-lg) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 70px;
  }

  &__title {
    max-width: $screen-xl;
    margin: 0;
    padding: 38px 0 5px;
    font-size: $font-size--h2;
    line-height: ($font-size--h2 + 2);
    font-weight: 400;
    text-align: center;
    flex-basis: 100%;
  }

  &__descr {
    max-width: $screen-xl;
    margin: 0 0 50px;
    color: $gray;
    text-align: center;
    flex-basis: 100%;
  }

  &__list-wrapper {
    width: 100%;
    flex-basis: 100%;
    // max-width: $screen-xxl;
    // overflow-x: auto;
    // margin: 0 -15px;
    margin-bottom: 20px;

    // @media (min-width: $screen-xxl) {
    //   overflow-x: hidden;
    // }
  }

  &__list {

    &--carousel {
      width: auto;
      margin-left: -15px;
      margin-right: -15px;
      overflow: hidden;

      .owl-nav {
        display: none;
      }

      .owl-stage {
        display: flex;
      }

      .owl-item {
        margin-right: 0 !important;
        margin-left: 15px;

        .card,
        .question {
          min-height: 372px;
          height: 100%;
        }
      }
    }


    @media (min-width: $screen-lg) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .card,
      .question {
        margin: 0 15px 30px;
      }
    }

  //   // @media (min-width: $screen-osx) {
  //   //   justify-content: flex-start;
  //   //   width: 1170px;
  //   //   margin: auto;
  //   // }

    @media (min-width: $screen-xxl) {
      margin: 0 -15px;
    }

    // .card,
    // .question {
    //   flex-shrink: 0;
    //   margin: 0 15px;
    // }
  }

  &__footer {
    flex-basis: 100%;

    @media (min-width: $screen-lg) {
      text-align: center;
    }
  }

  &__more-link {
    font-weight: 500;
  }
}
