// В этом файле должны быть стили для БЭМ-блока label, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.label {

  $block-name:                &; // #{$block-name}__element {}

  display: inline-block;
  max-width: 160px;
  padding: 4px 25px;
  border-radius: 4px;
  background: $color-danger--dark;
  color: #fff;
  font-size: $font-size--h4;
  font-weight: 700;
  line-height: 1.71;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: default;

  &--profile {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    padding: 0;
    border-radius: 50%;
    font-weight: 400;
    color: $color-success;
    background: $color-success--light-2;
    cursor: inherit;
  }

  &--new {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: baseline;
    min-width: 24px;
    max-width: auto;
    height: 16px;
    line-height: 16px;
    padding: 0 12px;
    border-radius: 8px;
    font-size: $font-size--small;
    font-weight: 500;
    color: $color-success;
    background: $color-success--light-2;
    cursor: inherit;
  }
}
