// В этом файле должны быть стили только для БЭМ-блока close-circle, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.close-circle {
  background: transparent;
  padding: 0;
  border: 0;

  &__inner {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    width: 22px;
    height: 22px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid $gray-lightest;
  }

  .close {
    display: inline-flex;
    width: 8px;
    height: 8px;
  }
}
