// В этом файле должны быть стили для БЭМ-блока add-form, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.add-form {

  $block-name:                &; // #{$block-name}__element {}

  &__header {

    .page__h1 {
      margin-bottom: 40px;
    }
  }

  &__part {
    margin-bottom: 50px;

    &--hide {
      display: none;
    }
  }

  &__type-select {

    @media (min-width: $screen-lg) {
      display: flex;

      .field-drop-checkboxes {
        width: 367px;
      }

      .field-drop-checkboxes + .field-drop-checkboxes {
        margin-left: 121px;
      }
    }
  }

  &__type-2.field-drop-checkboxes {

    @media (min-width: $screen-lg) {
      width: 422px;
    }

    @media (min-width: $screen-xl) {
      width: 392px;
    }
  }

  &__item-type-data {}

  &__item-type-form-wrapper {
    padding-bottom: 45px;

    @media (min-width: $screen-lg) {
      position: relative;
      margin: 10px 0 60px;
      padding: 32px 28px 0;
      border: 1px solid $gray-lightest;
      border-radius: $border-radius;

      &:before {
        position: absolute;
        z-index: 1;
        top: -8px;
        left: 509px;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 9px 8px 9px;
        border-color: transparent transparent $gray-lightest transparent;
      }

      &:after {
        position: absolute;
        z-index: 2;
        top: -6px;
        left: 509px;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 9px 8px 9px;
        border-color: transparent transparent $gray-ultra-lightest transparent;
      }

      .accordeon {
        border-bottom: 0;
      }
    }
  }

  &__price {
    margin-bottom: 40px;

    @media (min-width: $screen-lg) {
      width: 367px;
    }
  }

  &__address {
    position: relative;
    margin-bottom: 30px;

    .field-text__input {

      @media (min-width: $screen-lg) {
        padding-right: 190px !important;
      }
    }

    .field-checkbox {
      display: none;

      @media (min-width: $screen-xl) {
        display: block;
        position: absolute;
        z-index: 1;
        bottom: 0;
        right: 0;
        width: 180px;
        height: 58px;
        padding: 0 10px;
        margin: 0;
        display: flex;
        align-items: center;
      }
    }

    .field-checkbox__input-wrap {
      width: 100%;
    }

    .field-checkbox__name {
      display: block;
    }

    .field-checkbox__name-text {
      display: block;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__map-wrap {
    position: relative;
  }

  &__map-help-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    background-color: transparentize($gray-ultra-lightest, 0.15);
    color: $color-main;
    font-weight: 700;
    background-repeat: no-repeat;
    // картинки есть в blocks/add-form/bg-img
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHQAAAApCAYAAADkig0OAAAMEElEQVR42u2cCVhU173AEYWoz5jF1MQkNc2LVhPbvrQ1JumSNAa3qiBRNFHjijuyKEaWiCgIQgE1BlDjgigIboDRaLT4cFfcwGoUXCKbwzIMM3Nn3369AzfNlH7WvO9RinXO9/3m3Hvmzj1n7u/+z8xdznUJiV7nSLtmuDppmzh6cnTY+NJMYHuRDiJuEu5O2hxukqP2zeR+L9RQUx9vaFCvMQmaqyImo6DBqLIjPBDTDyw3STxgPVIu1q0WEdthsqOW3hPLzIKIVCbO23lwG/8f7TQ5YHB8vwWQ1idN32c5tbQNRIxKlVJzr+ZPorNOIo85iJWESpFpMRjNgAWw0QaTDTBbLVhsNh7lZLPZMGm1StHZEyL/9TepUqR+J7Q9bTxZrVYMBgNGkwnbIy7VarYgOusu8pSD1PaOQjvQxpPZbEar1aLT6exyH22hJrNd6I8lqU9I3W+H74S6irjRxpPJZEIQBDQazSMv1GI02YW+LPK8FKWdpT9Krt8JdW/rvxtGoxGVSoVarXYKbRLaW4rSblK36/7QCVUqlU6hgNlotAvtI9JT5BmRLk6h/xlCX3IK/c/ocp1C/5Vts4rYQJq3ikjTYjutIraWjlCn0H9Zy2hQyKmqk6Ozgs1ioU5WiULQYwMUtVXcvVuGxmRpmxF67uttrIwM5sv8czRv4lcZm1i8JJ79Z//SZoRW37zM53GRLAkPJypxHSVVqh8edZYfEllG0tcnErRsNZflYBDkxAb5siGvELvS/duTWLRoMRfuGQCw2ixSNLcRodEz3qVHtyfwmPQJZ+8K0re3QN1VvAa+wVNPd2dRQlqbEFpy6RiRwXOYODOQuNhYpnoPZezUAPafLn5Qh4aivIg1n29Aw4OSwOqlQfj4hnC6GnTKWvy8PYhI3kOVSo+svJSLly6haPLJnk1rOXDxDmprG+lyIyb9HncXFzp0+zmRaUelvcXIme2f8lxXV1xc3Fjwpy1NlWoVHNmXRXxMFHFJKZy6Vo4FMApKik8d4+CXX5O2IZn4hFXsPX6RemsLCrWq2ZYYwnuD/kj2xVvU1lRz6sA2Ro3yIuqL3RgBq0HDlTMFZGftYFvWHr4prwWgXvYNqSuCGPj+MJKz8iivVwF2WTXkf7mLtPQMjog7hVGK0NSV4Uydv4zCOtCp5Cya4M2KL3KoVOnQqBTUiHUbdCqunjrE+BEe+MxZwr7j1zDYAKx8e/Ucmdu3si07l1uV9a0rdNWij3mpq4sozpUhMyLQAiajilnDX6eTi1jepTcJGV+BVUvBziR++dorvDGgPz2f/RHvjJnB4avfopeVEuHzNv1696P/6z/nmY6u9BwwmOR9x7G1mFAFO9cu4Y8jPMk4fZkyWZOsc2f+l4Jzxaj1Gq6JGzhk/iw+CQ1h9rSJhMev53plLfduFxI40ZOBAwcxMTCCYlk9qrpKcrevZ+bUqcydO5+Zfgs4UFiC0Qqb18biGxjF+TrQi0JDJ48Rt8FR1FYLf87ZQmLCar4pu8cRsfsdMdSD377nxdr0IzRoddy+dILoYD/mBfgxc/pUlidt5uq3ta0n9NNpw+jbqzudu3Tk1x4fclSuQai+RN8eL9Dj2R50eL4fCZtzwFRDatiH9Hq1PzvyDhDg9StcROG+IatAXsKMfi6N8+HRSSyfO4qn2rvQ751R3NJZWqzLrbxxnpiFM/jDwKEs/HQZ2V8VUKsyAGCor+JgZioLQkRhJaUc35HAiCGjSEjf3xjdhzMSGDd+Ell/Po0WOJGTynjvUQREb+LimWMEfeTBmMA4ZBodOzcmMztIjNDaJqEhotDErBPoga2rwpg4YQZnyvSUlRQRIO44/kvXcqa0FkXFDVaFzuP9QePIP3+ZI+lxDHx3GAlpBzHZWkno/GG/4JfDPRk62pPRgz2ZF5rGyU1h/Hff3zEn0JcX/+cNAqM+A0B27TzrYuPYsSObBT4etBMFzl8SB/KbBLzZmU6vvkVZdQOgYt7Y39Duxf6knKxpGaHScYNaUcee1Dj8Z07i3TcHiO1dKUZAUx0NtWUUHN7PkaNHydu6Bp/h40janAtA5a18fGf5U6PVAZCZHIH3qJGEJGwiJzud4KkjGTFzMWX1CnK2JOO3cDnnHIQmZBagwUbulkQCA0K4XAdmg564oNkk556nASi/VEDgx+MYPnoWu3LyyEyNxuO3g1m+Zi9ycysJ9R/yCq8MHEvs+kwSFs6nS6dn+UO/3nwUnEhu5kr6/vpNAlZsAp2M2OlD6P7cy2L3tBjfEW/h7uZK0IrPoeYG8/p3pMvPfk9ZVR0AfrO8cenal+ic0hYRqlPIKLlxk5IKFVajHo2gprRgO14jRxKzNRe9Tc/x7BQxeiazZt0msrasYqLPVJK3HQLgTuEeps0KoEyjBSDj86V8PGkCK9ZlkLN7Fzt27uZUcQlWm46tn8Uwa0HU9xE6xefvhAaJQovlYNRpWeo3i6SdJ5Hb4M6FoyycPoUJvuHk5e5le2YGe/MOU3pLhsXaSkLnvNcT95fe5oujJRTsymzsNh/v3JEvr97j8qEEevd+ldCkLCoKT/C8qwtu/X24fruMpMmDGyPUPzQeVHdY+M7TuD3Xi5NXbiC7uJtB/R7nyT5vk3tb3yJCrbXXiVswk0FevlxpkAplZxk66D2WpOyg9HoRoVPGMD54HYLeyLWDX+Dp4cXKDXkAlB5PY+goHy7INABkrw7F+4MxpO4vBMAsKKhq3Bm1pKxcwoQ5EZytAZ2yjqBxw4lJz0fAxu4NMcyZE0SRHAxagcCxngSv3kO1CYSS03wyeRyek8MQACtwT1ZBnVqFhVYSOu2tbri49iDp4HXqigr4mf0PUudXqDPAxR2hdOzUldmRG1HJSvF+4ye4tHuSQSM+YEDvFxrlTwiOxWqoIWn8a7Rzbc/rv3qLX7z8BI916YLvsjXUW2gRoRiU5GevY/zIwXw0dxFJq1YT4ufLh9MDOVRYikJ2k89CZzDEaxKrUzYSu3g27/xuMDEbcwGouHKIEe+/zWi/pVy4K6eytIi4UH8mTPFl1Zo1RIeFsHFnPmbMotBIRk9ZxCm70IZa5ni+T8Smw6ixkZWyjClT5nJOBhaDhg2h0xjw5mASNnyFSqngWO4Wxo/5gLD41SQnrhQlxXGkqARbawndu34F/uFRHLtaAQ2V5KXEEpGQ0XgQXlZ4gNCwCHYdOg1YuJyfxfSJYxnsOY7FkVH4h0SQXXCOmoprhA7pgUunxxk5zAvvMeMJjlnLX8pqWvQ41GYSKD6xj/jlnxIZsZSwyDj2F1xCMAIYuVN8gtTEKCKik0jbto3t2zM5eek6ZivoVNXsS08hMGwFp0qqAfj2yhmS4yMJC1/C0mUxHDhehBk4f/IYWXsPUqYBk17Lvow08i/cxoiNK4UF7Nmzn3KlDaxmyq8cZ/mihazbnIPCCFZDA4d2bSZUXGdkeBiJG9Ipun2vLZ/6s6Br9gN//czXDH9OjOxn+3DzblUrnPozUVdbi+E+JxEaVFock9Ghl9BqNOj1Jhxrk9fJMfF/TI4xZzWi02kwmMzf1ykoqFdqHs5zueXFZ/F7tw+vDRpNRXWd82rLw35y3mQwUHO3nLLKakxmi1Powy1UEmS12SU5r4c6L585hTqFOoU6hTqFOoU6bxJzCm2dOxZsbVWoyWRqlCkIglOoqVHoT//pfblmi7Va3HAVNtC3SamA3mzCYDHziCebUW8wic56/bM7593qyqv85dXyZZoG5S2tSm3TKFXcD8GR5mXNl22w5/dHrA+NWkCj0TblzZYX24JOLNeqVagaFAjivF7QNKHRNA5g0up0aHRNuVZvR4/WICJOi9jLm5az16HRNCEITblKLSLVp2hoRLBTL9YlV6AR87+VNyibUCr/8TurHLjftnDIm9P8e4tI623aBlq1HUGQ36v5uqT4m9D7j22RRp+JdBTpKvIjkRdEfiLtBT+V6OPk34vkoZck80WR7pKzjk0OHcaHirhLpp+UpPaQPtRT4iUn/0YkD5KTHpKjJ7/rbpuPD3WVDD8mSX1cWvhpkWectCm6Sd1s1/uN4G4u1V0K4U7SB7o4aTtITjpLjtwdZDo8NEPE+RSUhwa3+zwFxaWZ0Caczyl6uJ9T9FeQSvufB+JnEgAAAABJRU5ErkJggg=='), url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACcAAABvCAYAAABvqNk0AAAIPElEQVR4Ae2ae1BU5/nHk19E89N0SowtHQ11akJVwKSO47TRXqzFoqZetLbVmtHqeJlRa/6wtrWOF2tok2pjrJmJEqm6aEAFFbmgduUioOEiiFuCgiOIFVCW3YXdZe/76XnPnM7YHam6yjnbdJ+Z75w9988+73ve9znPeZ757Tt7A/Wsov9TWfJ972fpDaqfpAhF/ftYEYr6/TtkABwamXTv/5c0QIF8LhBO9piGcJGSXpD0vAyoePB+uH4EYfesUP2ZibobVuz+oOGiJA1WAAcIlvvhBGkEj2FWN1RVG8g7spnCAz/hvG4JeZn7uN5kxO1/bLhoBTBSaWLZe0HBeYBPK2s59/FbfJbyRVpPv8jtEy9xeW802Ye3c7PlLv7HgxshaZjivUEPguvPI1qL0UH2wV9Tv/8FKBsIl0dDxQgoiKDg/Wgu6DMx9/geBy5G8d4QpWn7Bw13seYflO7/IZ2nJbjLcXjPvob3fDxUj+LmwX78Lf33NLb0PA7cSEnDnwpcpaGVkoNzuJv1IlSOwqsfg7cwDipjaDzwBc5n/ImmVrs2cCaHj+K8ZJpPxMKlIZLGwMVRUDaYS7rJ1F6pwOHzawMH8MmpCj7Y8nNqda9CRSz24jj0e8aQtPV3lBvaALSBu1pbQ96hNeQmjacqKZY7Hwyn6f0RFG0by5k/T+DssXdovtWkLpwfsLogK/U9GtJfxpbzEm27Yqhf+SUa347CuH8kzjMDKd4bR0nBaXq8KsJ5fHD9toNz+9/CmBMFtV/FdfzrtPwmitZtX4HzI6FmKPWHoig4sYsWk089OLfbS2m5gUsp38FycihUxOHWj8Gc8gqW1Ffxf/o6lI3kti6SwiOrMTR0qAfndDrR56VzPTWWrozhePWv4S+OF8OIpHj5tyP/dczpkZSn/ojKqgr14Cx2G+ePb6El7WtUJH+D5sxvQdkofEXx+CQwSkZTo/seN1OjMejGU34hE48acHYnGOoauZb+Bg26aPZuSaBM912ofgUujIaSUfIg/MnON8nfNZYbB1+iLu+XNLapBFdVWc2ZHSM4tjORv/zxbWqO/wDKh8pTl6cgFspfJmvfz0h+dwkZSaMpOrSAxjvevofz+qCtrR191kdk5Z3l1NEUbue+gUs/hOvp3+ZmxngoiaTq2I/JyMjg5Kk0qi+exubwqjcId3vAKOli4QnuZMdizhtCzodvUvjx9/GXDqQqbQpX66/T6QWXVtNXqT6dmydjMeZ9meO7ZnLmowT8FwdRfCCBxsYa7aYvJ1CiP05LThztuVH89Q9zObErEd+lgZTqEvl7XS0eLeEK81KlZh1GW1Z/3vtVAvu3ToDyZyhJ+Sa1VytxawXnA4r0pzmzbxK5H47l3c0r2b39F5QeiOHo7p9SX2/ArxUcQHtbKzWXi7hcocdwtYartVVUludLy0t0dXWBlnAAPqGA5lZMe7jgLQwXpAXxahjh8XpQ21wO5yO9VEcoqYBIJTUQrZwUI9zeR4oR93hYOkJO5EgaoLh1sHLwMOXE4X2kaHGPhyVynr3Pe88rB0UqJwzpYw1+WArsX4DPKTsHKO4dJE7qYw3qPXkY+mnXkE5YBy/giRR4vTBcX8AF9jft+1zwT6o6T+uzrvYOXEYzbnM3LnMXTpMFZ6dF+m2hx9SJzWiU1s1i2wPlUJbyMeYuad1IT0ebvHSZupD3meTrKerCLW133euk93FO8ZjbYsXv80nyK/IFq/vO9wasBxwjyef20PsMocyrHrsTrew/zK1KuNTjQCvrPSpR4Nx2O1pZ7/GcEgW7bDZCMRKW4ZxWG6H4DiHDObrVhQvD2e12bty4QV1dHbdu3cLtdvcBXJB9rrGxkU2bNrFs2TJ2796N0WgMHbiamhpmzZpFfHw8q1evprW1NXSa9dq1a6xcuZLExES2bt1KZ2endnAej4eenh5ZDodD9tzy5cuZNm2a3LwtLS1iu9wXxdLn86kDJzp7dXU1SUlJspd27tzJ5s2bWbFiBYsXL2bVqlVs376dHTt2sHHjRvbs2UNTU5M6cOILTk5ODgkJCUycOFFuyjlz5shwa9asYenSpcyYMYOpU6cybtw4FixYIP6MOnAul4uCggIWLlzIvHnzZJglS5aIZhX9TizFupAMuXbtWjHEqAMn+k97eztlZWWUlJRQUVFBZmamDDV37lzWr1/PuXPnKC8vp7i4mKqqKiwWi3ZPq+hTolmnTJnCtm3bxIMQOkOJwWCQH4ZJkyaxYcMG4dnQgautrWX+/PlMmDCBdevW0dbW9vThXEHC3bt3j9zcXNLS0igqKsJmsz19OIvZTDDm9Xrlfma1WsXALB6apw/XaepEA/scwJlMpjBcGK43C8OJ2E2MXd3d3WJgfWKJ6yjj4JPDiSi2o6NDzADipeWJdffuXfEdVkTSTw4nLiIAn5aE10Rr+P3+/6o+F4YLw4XhwnBhOHOQ7xBhuEfNSIqoQsyRIm8ilr1J2S/mUnXgxGtgc3MzWVlZIkciZ5yys7MfqKNHj4q8iYhs1GlWkQLLz89n+vTpTJ48WU5/zZw5M1DMnj1bZADkNMWVK1e0gxP54EApcCxatEhkPtUZSkSM19DQgE6nIyUlhSNHjnD48OFAyduTk5NFSa7InagDJzq36Ogi5yY8LSJb8TtQYrvYL0Jz8Yc+34Nwt6UrdOGcVrv2cOFPmv9TcK5QblZntzV04brMltCFEyN7SPc5MT2pbeKeDyvdiDDdvoPdJgOKgFLEbn0icW0hcR8x74qPx70VvahXwBxEEbN6BcxBFDGrX8AcRBGzVgXMvRYxh3RZZMgXlP4TW6HtP/UE2sQAAAAASUVORK5CYII=');
    background-position: 8px 7px, bottom 8px right 3px;
    transition: opacity 0.3s;

    &--shown {

      @media (min-width: $screen-xl) {
        right: 0;
        bottom: 0;
        width: auto;
        height: auto;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__map-help-01 {
    flex-grow: 1;
    padding: 118px 0 0 103px;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAABPCAYAAACQ5Cf1AAAF8ElEQVRogdXbbYxcVR3H8c8sW7GUKFqpReNTiQUVBKym4hOoiNMYCCA+BFMTo7wwKi+MD8gkGhOXmKiJGIOSamKEkEYjqWjrYlSwNEFQtBFRF2Kt0aZaWvvgtkDndscX/zvO3WF2dnbm3Lvr783ce+fMne/87zn/h3PO1N5+Q1MP1bAS+3u9mVKTE+MLat+r9Rm4CquxG4/iEQGfjYY3unoBvx+fw3IcxC7ch9twf3VovdUNvFpYdzlaGMM6nJe/dx32VgnYrbHCcQ0bcE5+Po3N2CZ+2NX4VKV0PVQEXokLcYqw7m78AD8WfbclLLwZZ1VKWVAR+Ok4NT+uCeDf47Cw8OP4kRiUX8LLKqMsqAh8BKcXzvfgMTyB/wjLH8KX8ULchJdXg9lRG7iGF+NV+fkM/pJff0RnoK3GTnwcZ+J2vKAiVnSAn4Zz8ez8/KCw5gz+jqP59QtxHL/ANViBO/EGvV1kacAnYw3aYW+f6A4tnBD9WX6+Nj++H5fjGL6Ji8rH7QBPY1Xh+l4RMOBJPJwfn4L1hXZ/0vHNX8EbSyPN1QZu4ZU4KT9/VFiYsPoe0UWW4UX5a1sPij79b2wy+weVBrxWjPgx4XMPCXfW1m7RdwkffEbXfR7Ch4Xr+w4uEAO2NOBzC18wLdzYE4V2vymcnylCd7em8E7Rp78rvE5ytYFX6WRiTeHSWoV2LTyQHz9LdIte2iUsXcO3cHZKWAK4Jh7zivzav4TvLeoA/iHAV+jkG730AK4VP+zzeE5CXmM5wHn5a4Y/6gy4bpCjwmevFKF8Lt2Hzwr/fBOemxL4+WLU14QFDwgrd2unCChwidl9vJe2YSNegremgCWAT9Lpv8uEdY/3aHsQf86PTxcDtZ9mRET8WP65Zf2bD6Yx8bjag+hx7Jij7QHxqLP8M4P62wfxO50oOpK6gadE9OqlpsgbDouId45OOjqfWvM3GUxj4nFN5edTZgeMbj1UeP9inJYKZFCNCa/waXxfPL5+lfFy/Dw/Xm12/lyJxsUA2yasR/++Ni28BeFnzxf9szK1I11TRKld+lv4hHgie4Q/Xq+iPLitsfmbPEU7dPLjdRap4liIasJbEEEhWRQbRMMAN0U/bgq39pakRPNoGGBioD0sSqt1+WslGhZ4vwi7LVFpz5VuJtewwC0BfEQk6mcrqcLo1rDARJdoF6qXSxh++2kU4H3Ynh+/RswGla5RgI9hq8id1+JNI95vII36Bffgr6L6uEiinLefRgWu6SRDbzZ4ujm0RgU+jnvFJMrzcMXIRPMoRZ/bgV+J1PO1Sg4iKYCPitzihOjHaxLcc06lGtU/FYPvpaKiLk2pgHdjMj++DM9MdN+nKBVwS5RYh/BqkRCVopSOfid+KUqnK5Xkk1MCH8EWkSdvUNLgSx1Kd4h5jTV4XeJ7Iz3wLrEYWcP7xIRLUqUGnhHAe8XAS27lMrKrKXxPzApdrTPvnERlAGfCxR3FeyQun8rKX/8gZpNOkzghKgv4sLAysWK6qk/bBanMCmELfoZX4N0SFallAjfFkm5TQiuXXYNtx91iUf31KW5YNvB+fEMsRXxAgvyibOAW7hI7WTagPuoNSy/LhXU3iV0BHzVioVoFMOEt7sDbjFiRVAUMN4uls+v0XlwfSFUC/xq3iPmLK4e9SZXAGb4utpZ9wpAz91UCwz9xg9hM8sFhvr9qYGJKYDOuF8tmC9JiADfxNZEgfbLeyBY0U7QYwPBbsfnjXXhvvZENzLFYwMSuwm/jCxaw1WYxgY/hM2KK6+Z6I3vGIB9aTGBimnaj2JLzxXojm7fKXmxgkxPjfxPbey/Fxnoj65voV7qw3Ue3i6ToQ2LNZMtcDRfdwjA5MZ6JHYW34sZ6I7t2rra1Of7HUZm6/8dRb2QbcCN+gq9OTozvK76/JCzcpbsE8HpcU29ksyZilhzw5MT4DH4oBuIFYpX1f1pyXaKoeiN7Bz4i1gE34c6l4iV6anJifCu21hvZJWIL8KlLGrig7WLaa/r/AnhyYvw49tUbWe2/9b1IIBHNMqYAAAAASUVORK5CYII=);
    background-position: left 50px top 60px;
  }

  &__map-help-02 {
    display: flex;
    height: 110px;
    flex-shrink: 0;
    padding-right: 85px;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADoAAABECAYAAADQkyaZAAAFzklEQVRogd3be6xcVRUG8F9vpy1cSS0FSdHKIyDR1LeJ8IfGqAgToxEiRuILEBXRYAwVTTq+Ag6CFRXFgg8ahGpiCKhIcBINEHxFY0xRMWKMkUhbFMujwC29d27rH9+Z3Onj3tbec2bO+CWTu8/d55y9v1lrr7X22msWnL5maiHGMI2dRgydduOA7mtgEV5eXP8J2yqa01DRQBfPxLk4Fv/AjbhjaLOqAD2iPyk+h+MNeA9OE8J/xNSwJlgWxva4fhQ/xDdEuutxwaAnVQX2JAqTuAtn4mN4K+7Dh0UDRhL7ItqPn+H1+JSs4Q14QcVzqgT7I0pczm1YLep8PV5U5aSqwIEQJQbrHlHnzfg53lXVpKrAgRLt4SGchavwHXyx9BlVhIM1LpeJZK/BUlnD/yprUlVgPlZ0A8bxVRyCi/GfMiZVBeZDdAeuE/X/gsTK55UxqSowX784hauL9pewTAxW7fC/GqPZcDU+iTMkmlpW0ntLQ5mRzufFz14g0dVqPFXi++eFskO61XiOkN2KNiZKHuOgUDbRp3CJbPvW4AF8s+QxDgplrdF+/EVczQOydmsRQVVBFH4nkoUrZWMwVFRFFG7G5Xg2voLnVTjWflElURIq/gAvlF3PkRWPNyuqJgofxb14tcTEhw1gzL0wCKL/lEzFBD6Cswcw5l4YBNFduBOfk/j4MpHuQDEIoiRLcZUYqBVYa8DrdVBESVjYxka8UkLGpYMafJBESTCxRtKq78S7BzWHQRMlifIbcCg+jtcMYtBhEIUrJJV6jGzvjqp6wGERfViipn/jdUK2UgyLKEmZfhlP430q9q/DJNqVnNNtsl5bOLGqwYZJFB4Tn/p3rBIVfkYVAw2bKNnSrZcI6m14exWD1IEo2bPeLXnii/HcsgeoC9EuPiuGaZX41/EyB6gLUfi1mfzSB+SMpzTUiWhX4t/7sBgXSvq0FNSJKDmtu1RU+BTxr4vKeHHdiJLUy0+L9kV4MRbM96V1JDolsfCE5IfXiuuZF+pIFH4vOxySjZj3wVVdq0yexjqcipPwafwWm+Z6qNnqrpA6qU24t9NubO311VWixPreLNb4JZJY259gluF8OaS+tNnqLu911JkokepfxRidLYTnwoR8GUfjg/pOCOpOdDO+XrSPwTlSRjAbHjfjjsb05aTqThR+jD8X7YtEWrNhEsv7/9FsdRcxGkQ3iwpPFtdXzHFv/xZvGq+QNT4SRKfxfdnOwVvwjlnubciahoU4ttNu7GI0iJKynnVibJbIifryfdy3U9ZpD9PNVvdQRocofBe/LNonS2HInvN/zO5J8R2KwpFhE53Lgu4LVxZ/l4hhelZ/Z6fdmBRX1AsZj1T43mETPUHyRMcf4P0b8Yui/VKc3t/ZbHUX4wkzP4JYiScZPtFHpCR2oxRQ7i+FslXyS4TMh5qtbr9WLJTaiYXFdaPTbjzK8IlukfOXS/BGfFsS2ovneOZOiXvH5Es6t69vsnhnDxPNVvcEhk+UTG69lLJP4xY5GZ9t/T6IWyXwH8dpzVb3cOi0G9OyJntrdEyhJXUgSpz6XSLVy/EJKQfYl7+clqB9ixA60+4V4Ydge9FeWdxTG6L9WCtG6n6pZrkWLxNL28MmCSJ6mYfz+/oeNyPRw7Cz2eouqCNRUvfwfnwGr5Jq7/Psrs7XiIWFU5ut7qq+Z3uh4A5FPWJdiZKK7msl7fkrqUL7gxBeIFLdUNy7woyabzPjXrbj+Z12Y1edifZwv+wtVwrRr+FHeK38rOxJEdgZzVb3aJHiI8Wz4ziOekt0TzyM90q+dym+JUHDb4r+k2RjPi4Wmbip7dQ3ZzQbtuEmOS0/R4L744q+Bt4kh8s9w7VTUjIjJdF+bJF96fFSmdbDhZL0PqK4HsPfeo1Rxzq8WWLgh2S3MiUu5nui8iOnunuh025M4fZmq/ugVJAeJSq7Dfd02o0n+D8g2kOn3dgomwPQbHWXdNqNHb3r/wJK1DtnREF2UAAAAABJRU5ErkJggg==);
    background-position: right 20px bottom 21px;

    #{$block-name}__map-help-text {
      margin-left: auto;
    }
  }

  &__map-help-03 {
    display: flex;
    height: 115px;
    flex-shrink: 0;
    padding-right: 125px;
    padding-bottom: 60px;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFQAAAAkCAYAAAAXSR0AAAAFsUlEQVRoge3aW4ydVRkG4GemuwItUEqxtFYrRQaLVFugnqJGBLEmxsRorAdIjMaoCSYeLr3wwmRMPFwZw41XnglRIxJ1EiNEUMETDZYaWkitBetmprNLZzp02mlnvHjX757ZbOxM2c7MdvomK//+Z69Ze/3v+tb3vd+3/p4dX5hQ0ItJ5zAnDPTXZtzX0IPz8VJchH9geN5n9n+C3nLtwUuwE29euOl0P3oxhXH8FWO4BTcs5KS6GZWFTuIIfobj+EBp6xdoXl2L3pb73fgeGvgQPotXzPekuhm1lvtJPIp/4hA+jdP4Efbh2LzOrgvRaqGEwMP4Lj6DTfg83osN8ze17kQ7QitM4c/4Guq4DV/CO0RidTNeJBJxZacHbt3yrZjAw3gGb8P78HU8gHtxD052elLzgBdjh7i4R7CrUwOfidAK+zGE34tO/RS24534laiDZSK7ugFjYp07JV58W4zkBceIZVe95Yuz7XtSfOtu3CdbZgduFEUwhQvxL/HDixnjEnRPyM57K9bgKJ6ey0C33TzTa86F0AqTIqvuw1+wQvTqB3E93iCWvwzP4pSQvdgwIsrlD5J6fxyvlGc7Inr8jGgldLZbvhVVEeXB0raJXr1VLPb9+Lv4310iuyYkuC0vnxcDRiTw/g1P4HPox8/xAyF8TjgbC22HuvjZe7C33K+TNPa14hL6sFVcxQWlzwViwT2dmMQLwIQQ+keRhjtxpVjriP9irZ2y0HY4Udrd+IVY7Ga8C1vw4fJ7x/EnPInfCLF7ysQbpc+pDs5rthiVoHuozO9WfAV3SvY4OJtBOknodEzgMTyOn+I6XCbJQZ/42htF29ZxQHzZoKZM2yN++Gi5zlegO4AfSsZ4e2nr8U0cdIZ48L8itEJFwq7yW7/Gq8R6rxPfeyWuxhtlssNivYN4qHzeV+73ysIc1rTkHp0PekfxW1nYj4rruh5fLs/wvL/ZM61ivxBYi8uF0O24SnzuJVhV+oyKPnxUHnS/kPyYyJ/HJdA9JT75uPYPfLbEXyoK5pOiX78ju65O+4r9QmKwtN0yybXYiGuk4H1D+dtm3CRbnxDcKxZ7TBRFo4xDLPi4kF3VfEdFS4/IYh01019XR0CtxDdwh+ySj+E9YgTfl0A2Awttoe1QPdBKcRlX4+VC6npxFauF+BU4b9r/nhZS6hIgG2W8/bJ9D+NiyY7GZCF6hPwp8f1DYpUNyfmHZSFWyc75BG7GT/BjPDzQX/tP+r0YCW2HSrteKgRcK750kzz0FrxMLOd8Iftk+a7CpGYxaEIInyhj7yt9x4W4YU3/f0wW8MnSdzneJPLvXvwSd+Gpgf7a1EJv+dmiWvVGud4vBFSkrREya5rEbhCfulGKIRcK2ZeX+5Hyf6cl4Exp6uG+NnN4Xcv9pFhqnyzCHah3C6HtcHLatS41BJL50JRa62RBXiOkrZV8/dry3cbS72JZgNVifWNC8Cnx55UPXinWOi4KZQveLYtc75Yt3ylUgae6rpa8/RJxIdWxeh2vllpEFdTGxF+fEJIvEh39EbH+r+Ib3WyhZ4PJluuRcn2mtOm4X/uEYpUUUXaI1Z8nfvX1WLPUCJ0rKldwmfjKzSLltot1r5vWdwjHzhH6/FgvhG2VeukWXKEZ3CockjLmtzB0jtCg8qk1ifjbxBI3SJJxxbR+xD0Mi1XejTsH+msHWPhMabFgkyQQ26Roc40cRFZJRiWnjkjx5neSLBzEgwP9tfFqoKVKaFWHXScVsLeLBFrluUflPXI6sV/Keo/Ia0vPYvlAf22GTFqKhK6RoHKTWGOf+MXl5fvqvYRRscC7pFo2VNr0g7znaM6lSOgKscjbJbhU23mwfN4r6eQe2dqjoj1nhaVIaENqnVvlxPOQaM4nNE8RBoXEOb9zsBQJHZN3CZ6WQndDqvQHdeC9gqVIKAkoD8mhXEdfg/83aHqDMY6OG0wAAAAASUVORK5CYII=);
    background-position: right 56px bottom 37px;

    #{$block-name}__map-help-text {
      margin-left: auto;
    }
  }

  &__map {
    height: 280px;
    margin-bottom: 35px;
    background: darken($gray-ultra-lightest, 5%);

    @media (min-width: $screen-xl) {
      height: 450px !important;
    }
  }

  &__main-pict {
    background: #fff;

    .list-property__main-pict-descr {
      padding: 0 15px;

      @media (min-width: $screen-md) {
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }

  &__main-pict-data {
    padding: 0 15px 15px;
    background: #fff;

    @media (min-width: $screen-md) {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

}
