// В этом файле должны быть стили для БЭМ-блока add-form, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.add-form {

  $block-name:                &; // #{$block-name}__element {}

  &__header {

    .page__h1 {
      margin-bottom: 40px;
    }
  }

  &__part {
    margin-bottom: 50px;

    &--hide {
      display: none;
    }
  }

  &__type-select {

    @media (min-width: $screen-lg) {
      display: flex;

      .field-drop-checkboxes {
        width: 367px;
      }

      .field-drop-checkboxes + .field-drop-checkboxes {
        margin-left: 121px;
      }
    }
  }

  &__type-2.field-drop-checkboxes {

    @media (min-width: $screen-lg) {
      width: 422px;
    }

    @media (min-width: $screen-xl) {
      width: 392px;
    }
  }

  &__item-type-data {}

  &__item-type-form-wrapper {
    padding-bottom: 45px;

    @media (min-width: $screen-lg) {
      position: relative;
      margin: 10px 0 60px;
      padding: 32px 28px 0;
      border: 1px solid $gray-lightest;
      border-radius: $border-radius;

      &:before {
        position: absolute;
        z-index: 1;
        top: -8px;
        left: 509px;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 9px 8px 9px;
        border-color: transparent transparent $gray-lightest transparent;
      }

      &:after {
        position: absolute;
        z-index: 2;
        top: -6px;
        left: 509px;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 9px 8px 9px;
        border-color: transparent transparent $gray-ultra-lightest transparent;
      }

      .accordeon {
        border-bottom: 0;
      }
    }
  }

  &__price {
    margin-bottom: 40px;

    @media (min-width: $screen-lg) {
      width: 367px;
    }
  }

  &__address {
    position: relative;
    margin-bottom: 30px;

    .field-text__input {

      @media (min-width: $screen-lg) {
        padding-right: 190px !important;
      }
    }

    .field-checkbox {
      margin-top: 30px;

      @media (min-width: $screen-lg) {
        position: absolute;
        z-index: 1;
        bottom: 0;
        right: 0;
        width: 180px;
        height: 58px;
        padding: 0 10px;
        margin: 0;
        display: flex;
        align-items: center;
      }
    }

    .field-checkbox__input-wrap {
      width: 100%;
    }

    .field-checkbox__name {
      display: block;
    }

    .field-checkbox__name-text {
      display: block;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__map-wrap {
    position: relative;
  }

  &__map {
    height: 280px;
    margin-bottom: 35px;
    background: darken($gray-ultra-lightest, 5%);

    @media (min-width: $screen-xl) {
      height: 450px !important;
    }
  }

  &__main-pict {
    background: #fff;

    .list-property__main-pict-descr {
      padding: 0 15px;

      @media (min-width: $screen-md) {
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }

  &__main-pict-data {
    padding: 0 15px 15px;
    background: #fff;

    @media (min-width: $screen-md) {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

}
