// В этом файле должны быть стили только для БЭМ-блока list-property, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.list-property {

  $block-name:                &;

  &__short-drop {
    max-width: 230px;
    margin-bottom: 30px;
  }

  &__form-part {
    display: none;

    &--shown {
      display: block;
    }
  }

  &__header {
    border-bottom: 1px solid $gray-lightest;
    padding-bottom: 35px;

    & > *:last-child {
      margin-bottom: 0;
    }

    &--no-border {
      border-bottom: 0;
    }
  }

  &__subtitle-wrap {

    @media (min-width: $screen-md) {
      flex-shrink: 0;
      width: 200px;
      min-width: 200px;
      padding-right: 15px;
    }

    @media (min-width: $screen-xl) {
      width: 260px;
      min-width: 260px;
    }

    &--w-a {
      width: auto !important;
    }
  }

  &__content-col {

    @media (min-width: $screen-md) {
      flex-grow: 1;
    }
  }

  &__subtitle {
    display: none;
    margin: 0 0 5px;
    padding: 0;
    font-size: $font-size;
    font-weight: 500;

    @media (min-width: $screen-lg) {
      display: block;
    }

    &--mb20 {
      margin-bottom: 20px;
    }

    &--mb30 {
      margin-bottom: 30px;
    }

    &--show-xs {
      display: block;
    }
  }

  &__h3 {
    margin-top: 0;
    padding: 0;
    font-size: $font-size;
    font-weight: 500;
  }

  &__descr {
    margin: 0 0 20px;
    color: $gray;
    font-size: $font-size--small;

    &--lg {
      font-size: $font-size;
      color: $text-color;
    }
  }

  &__section {
    padding-top: 8px;

    &.comments {
      margin: 0;
    }

    @media (min-width: $screen-lg) {
      padding-top: 35px;
    }

    .tab-content & {
      padding: 0;
      width: 100%;
      height: 0;
      overflow: hidden;
      visibility: hidden;
      opacity: 0;
      transition: opacity $transition-time;

      &.active {
        padding-top: 8px;
        height: auto;
        visibility: visible;
        opacity: 1;
      }

      @media (min-width: $screen-lg) {
        padding-top: 35px;
        height: auto;
        visibility: visible;
        opacity: 1;

        &.active {
          padding-top: 35px;
        }
      }
    }

    &:not(:last-child) {
      padding-bottom: 10px;
      border-bottom: 1px solid $gray-lightest;
    }

    &--no-border {
      border-bottom: 0 !important;
    }

    &--mobile-hide {

      @media (max-width: ($screen-lg - 1)) {
        display: none;
      }
    }

    &--pt35-xs {
      padding-top: 35px;
    }

    &--pb35-xs:not(:last-child) {
      padding-bottom: 35px;
    }

    &--md-columns {

      @media (min-width: $screen-md) {
        display: flex;
        align-items: baseline;
      }
    }

    &--md-columns-center {

      @media (min-width: $screen-md) {
        display: flex;
        align-items: center;

        #{$block-name}__subtitle--mb20 {
          margin-bottom: 0;
        }
      }
    }

    &--md-columns-top {

      @media (min-width: $screen-md) {
        display: flex;
        align-items: top;
      }
    }
  }

  &__select-type {
    margin: 20px 0 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    & > * {
      margin-bottom: 20px;
    }
  }

  &__select-type-or {
    margin-left: 1em;
    margin-right: 1em;
    width: 100%;

    @media (min-width: $screen-md) {
      width: auto;
    }
  }

  &__service-list {

    @media (min-width: $screen-md) {
      display: flex;
      flex-wrap: wrap;
      margin-left: -15px;
      margin-right: -15px;
    }

    &--pt15 {
      padding-top: 15px;
    }
  }

  &__option {
    display: flex;
    flex-direction: column;
    margin: 0 0 30px;

    @media (min-width: $screen-md) {
      width: 260px;
      padding: 0 15px;
      margin-bottom: 30px;
    }
  }

  &__tablist {
    display: flex;
    margin: 30px 0 0;
    padding: 0;
    list-style: none;

    @media (min-width: $screen-lg) {
      display: none;
    }

    li {
      flex-grow: 1;
      width: 33.3334%;
      text-align: center;
    }

    a {
      display: block;
      padding: 6px 3px;
      border-bottom: 1px solid $gray-lightest;
      color: $gray;
    }

    .active {

      a {
        color: $text-color;
        border-color: $color-main;
      }
    }
  }

  &__text-hide-xs {
    display: none;

    @media (min-width: $screen-sm) {
      display: inline;
    }
  }

  &__text {
    max-width: 630px;
  }

  &__map {
    height: 410px;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  &__text-field-w-checkbox {

    .field-text + .field-checkbox {
      margin-top: 15px;
    }
  }

  &__location-name {
    display: block;
    padding: 40px 0 15px;

    &--has-breadcrumbs {
      padding-bottom: 4px;
      margin-bottom: 0;
    }

    & + .breadcrumbs {
      margin-bottom: 25px;
    }
  }

  &__main-pict {
    position: relative;
  }

  &__main-pict-descr {
    margin-top: 10px;
    font-size: $font-size--small;
  }

  &__id {
    display: inline-block;
    margin-right: 1em;
  }

  &__price-info {
    display: block;
    margin-top: 5px;
    font-size: $font-size--small;
  }

  &__price-follow {
    display: inline-block;
    margin-bottom: 30px;
  }

  &__price-follow-success {
    display: inline-block;
    margin-bottom: 30px;
    color: $color-success;
  }

  &__price-dynamics {

    @media (min-width: $screen-osx) {
      display: flex;
    }
  }

  &__price-dynamics-part {
    display: block;

    & + & {
      margin-top: 5px;

      @media (min-width: $screen-osx) {
        margin-top: 0;
        margin-left: 3em;
      }
    }
  }

  &__price-arr {
    display: inline-block;
    margin-left: 0.4em;

    svg {
      fill: $color-success;
    }

    &--danger {

      svg {
        fill: $color-danger;
      }
    }
  }



  &--internal-property {
    padding-bottom: 65px;
  }
}
