// В этом файле должны быть стили только для БЭМ-блока list-property, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.list-property {

  &__header {
    border-bottom: 1px solid $gray-lightest;
    padding-bottom: 35px;

    & > *:last-child {
      margin-bottom: 0;
    }
  }

  &__subtitle {
    margin: 0 0 5px;
    padding: 0;
    font-size: $font-size;
    font-weight: 500;
  }

  &__section {
    padding-top: 35px;

    &:not(:last-child) {
      border-bottom: 1px solid $gray-lightest;
    }
  }

  &__select-type {
    margin: 20px 0;
  }

  &__select-type-or {
    margin: 0 1em;
  }
}
