// В этом файле должны быть стили для БЭМ-блока list, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.list {

  $block-name:                &; // #{$block-name}__element {}

  display: flex;
  flex-wrap: wrap;
  margin: 0 0 30px;
  padding: 0;

  &:last-child {
    margin-bottom: 0;
  }

  &__item {
    position: relative;
    padding-right: 25px;
    flex-basis: 50%;
    max-width: 50%;

    @media (min-width: $screen-osx) {
      flex-basis: 33.3334%;
      max-width: 33.3334%;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }



  &--no-bullets {
    list-style: none;
  }

}
