/// Базовые цвета https://colorscheme.ru/color-converter.html

$black:                       hsl(0, 0%, 0%);
$gray-darkest:                #31353f;
$gray-darker:                 hsl(0, 0%, 20%);
$gray-darken:                 hsl(0, 0%, 30%);
$gray-dark:                   hsl(0, 0%, 40%);
$gray:                        #8891a6;
$gray-light:                  hsl(0, 0%, 60%);
$gray-lighten:                #c5cad9;
$gray-lighter:                #CFD3DB;
$gray-lightest:               darken(#e9edf2, 5%);
$gray-ultra-lightest:         #f3f5f9;
$gray-ultra-lightest-2:       #fbfbfc;
$white:                       hsl(0, 0%, 100%);

$color-main:                  #477afb;
$color-main--accent:          #346af4;
$color-main--dark:            #466DD7;
$color-main--border:          #6e90e4;
$color-main--light:           #99b6ff;
$color-main--light-2:         #c9d3f4;
$color-main--light-3:         #D9E3FF;
$color-main--ultralight:      #eef2ff;
$color-success:               #2fb74f;
$color-success-2:             #00d092;
$color-success--light:        #ecf8ee;
$color-success--light-2:      #ddebe0; // вариант от дизайнера (весна 2019)
$color-success--light-3:      #daf4de; // вариант от дизайнера (весна 2019)
$color-danger:                #e73c64;
$color-danger-2:              #ee1a1a;
$color-danger--light:         #faedf1;
$color-danger--light-2:       #f6dae3;
$color-danger--dark:          #bb1d1d;
$color-warning:               #ea8600;
$color-youtube:               #dc472e;
$color-facebook:              #3b5899;

$star1:                       #B8214F;
$star1--hover:                #F9C5D5;
$star2:                       #701381;
$star2--hover:                #E1C1E6;
$star3:                       #C19000;
$star3--hover:                #FCEBB8;
$star4:                       #2158B5;
$star4--hover:                #C4D9FC;
$star5:                       #167C2E;
$star5--hover:                #C0ECCB;



// Семантические цвета

$text-color:                  $gray-darkest;
$text-color--muted:           $gray;
$body-bg:                     #fff;

$link-color:                  $color-main;
$link-color--hover:           $color-main--accent;



// Базовая типографика

$font-size:                   14px;
$font-size--h1:               32px;
$font-size--h2:               24px;
$font-size--h3:               16px;
$font-size--h4:               14px;
$font-size--h5:               1em;
$font-size--h6:               1em;
$font-size--small:            12px;

$line-height:                 1.429em;

$font-family:                 'San Francisco', -apple-system, BlinkMacSystemFont, 'Roboto', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif;
$font-family--serif:          'Georgia', 'Times New Roman', 'Times', serif;
$font-family--monospace:      'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', monospace;
$font-family--headings:       $font-family;



// Ширины

$screen-xs:                   0;
$screen-sm:                   480px;
$screen-md:                   768px;
$screen-lg:                   970px;
$screen-xl:                   1170px;
$screen-osx:                  1440px;
$screen-xxl:                  1600px;

$container-sm:                100%;
$container-md:                100%;
$container-lg:                100%;
$container-xl:                100%;
$container-xxl:               $screen-xxl - 30;



// Модульная сетка

$grid-columns:                12;
$grid-gutter-width:           30px;



// Разное

$field-padding-vertical:     9px;
$field-padding-horizontal:   14px;

$border-radius:               2px;
$border-color:                $gray-lightest;
$opacity:                     0.7;
$transition-time:             0.3s;
$shadow:                      0 4px 40px rgba(72, 72, 72, 0.35);

$z-index-modal:               100;

$header-height:               56px;

$menu-desktop-width:          $screen-xl;

$toggler-part-height:         2px;
$toggler-part-bg-color:       $gray-darkest;
