// В этом файле должны быть стили только для БЭМ-блока filter, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.filter {

  $block-name:                &;

  position: relative;
  padding: 15px;
  // box-shadow: inset 0 12px 10px -10px rgba(72, 72, 72, 0.1);

  @media (min-width: $screen-lg) {
    box-shadow: none;
  }

  @media (min-width: $screen-xl) {
    padding: 30px;
  }

  &__part {
    max-width: 150px;
    font-size: $font-size--small;

    &--short {
      width: 80px;

      @media (min-width: $screen-xxl) {
        width: 100px;
      }
    }

    &--wide {
      max-width: 100%;
      flex-grow: 1;

      @media (min-width: $screen-xl) {
        max-width: 250px;
      }
    }

    &--more {
      cursor: pointer;
      width: 48px;
      text-align: center;

      .btn-icon--blue-kebab {
        vertical-align: middle;
      }
    }

    &--mobile-hide {
      display: none;

      @media (min-width: $screen-lg) {
        display: block;
      }
    }
  }

  &__line {
    position: relative;
    z-index: 2;
    display: flex;

    #{$block-name}__part {

      .field-text__input {

        &:focus {
          position: relative;
          z-index: 1;
        }
      }

      &:not(:first-child):not(:last-child) {

        .field-drop-checkboxes__pseudoselect,
        .field-text__input {
          border-radius: 0;
          border-right: 0;
        }
      }

      &:first-child {

        .field-drop-checkboxes__pseudoselect,
        .field-text__input {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          border-right: 0;
        }
      }

      &:last-child {

        .field-drop-checkboxes__pseudoselect,
        .field-text__input {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }

    .field-text__input {
      min-height: 48px;

      @media (min-width: $screen-md) {
        min-height: 40px;
      }
    }
  }

  &__drop-lg-hide {

    @media (min-width: $screen-lg) {
      display: none;
    }
  }

  &__drop {

    @media (min-width: $screen-lg) {
      position: absolute;
      z-index: 1;
      top: 100%;
      left: 0;
      right: 0;
      height: 0;
      padding: 0;
      background-color: #fff;
      overflow: hidden;
      opacity: 0;
      box-shadow: 0 2px 10px rgba(72, 72, 72, 0.1);

      &--open {
        padding: 30px 15px 0;
        opacity: 1;
        overflow: visible;
        height: auto;
      }
    }

    @media (min-width: $screen-xl) {

      &--open {
        padding: 30px 30px 10px;
      }
    }
  }

  &__drop-row {

    @include row( 0, 0, 0, $grid-gutter-width );
  }

  &__drop-part {
    margin-bottom: 20px;

    @include col (lg, 6, 12, $grid-gutter-width);
    @include col (xxl, 4, 12, $grid-gutter-width);

    &--separator {
      padding-bottom: 30px;
      margin-bottom: 30px;
      border-bottom: 1px solid $gray-lightest;
    }

    &--action {
      @include col (lg, 12, 12, $grid-gutter-width);
      @include col (xxl, 12, 12, $grid-gutter-width);
    }
  }

  &__backdrop {

    @media (min-width: $screen-lg) {
      position: absolute;
      z-index: 2;
      top: 0;
      height: 0;
      width: 0;
      background-color: #000;
      opacity: 0;
      transition: opacity $transition-time;

      .filter-wrapper--open-drop ~ .layout-tabs__tab & {
        width: auto;
        height: auto;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.85;
      }
    }
  }
}
