// В этом файле должны быть стили для БЭМ-блока rating-add, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.rating-add {

  $block-name:                &; // #{$block-name}__element {}

  &__title {
    margin: 20px auto;
    padding: 0 15px;
    max-width: 400px;

    @media (min-width: $screen-lg) {
      margin-top: 72px;
      max-width: 880px;
      text-align: center;
    }

    &--check {
      position: relative;

      @media (min-width: $screen-lg) {
        padding-top: 52px;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 50%;
          width: 40px;
          height: 40px;
          background: $color-success-2;
          border-radius: 50%;
          transform: translateX(-50%);
        }
      }

      svg {
        display: none;

        @media (min-width: $screen-lg) {
          display: block;
          fill: #fff;
          position: absolute;
          top: 15px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }

  &__title-descr {
    display: none;
    max-width: 400px;
    padding: 0 15px;
    margin-bottom: 24px;
    margin-top: -12px;
    margin-left: auto;
    margin-right: auto;
    font-size: $font-size--h3;

    @media (min-width: $screen-lg) {
      display: block;
      max-width: 880px;
      margin-bottom: 40px;
      text-align: center;
    }

    &--success {
      display: block;
    }
  }

  &__list {
    position: relative;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    min-height: 363px;
    max-width: 400px;

    @media (min-width: $screen-lg) {
      max-width: 880px;
      min-height: 400px;
    }
  }

  &__step {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 363px;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.3s, transform 0.5s;

    @media (min-width: $screen-lg) {
      display: flex;
      height: 100%;
    }

    &--active {
      z-index: 1;
      transform: translateY(0);
      opacity: 1;
    }

    &--like {
      height: auto;

      @media (min-width: $screen-lg) {
        flex-wrap: wrap;
      }

      &.rating-add__step--active {
        position: relative;
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    height: 230px;
    padding: 18px 15px 16px;
    background: $color-main--dark;
    color: #fff;

    @media (min-width: $screen-lg) {
      width: 50%;
      height: 100%;
      flex-shrink: 0;
      padding: 32px 24px 24px;
      font-size: $font-size--h3 + 2;
      line-height: 24px;
    }
  }

  &__steps-num {
    margin: 0 0 16px;
    color: $color-main--light-2;
  }

  &__subtitle {
    margin: 0 0 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: $font-size--h3 + 2;
    line-height: 26px;

    @media (min-width: $screen-lg) {
      margin-bottom: 20px;
      font-size: $font-size--h3 + 10;
      line-height: 32px;
    }
  }

  &__step-descr {
    margin: 0;
    height: 96px;
    overflow: hidden;
    line-height: 24px;
    color: $color-main--light-2;

    @media (min-width: $screen-lg) {
      height: 190px;
    }
  }

  &__step-btns {
    display: flex;
    margin-top: auto;
  }

  &__btn-back {
    padding: 4px 4px 0;
    border: none;
    background-color: transparent;
    font-size: $font-size;
    color: $color-main--ultralight;
    outline: none;
    cursor: pointer;

    svg {
      display: inline-block;
      margin-right: 2px;
      fill: currentColor;
    }
  }

  &__btn-next {
    margin-left: auto;
    padding: 4px 0 4px 4px;
    border: none;
    background-color: transparent;
    font-size: $font-size;
    color: $color-main--ultralight;
    outline: none;
    cursor: pointer;

    svg {
      display: inline-block;
      margin-left: 2px;
      fill: currentColor;
    }
  }

  &__rate-wrap {
    background: #fff;

    @media (min-width: $screen-lg) {
      width: 50%;
      flex-shrink: 0;
    }
  }

  &__emos {
    display: none;

    @media (min-width: $screen-lg) {
      position: relative;
      display: block;
      height: 253px;
    }
  }

  &__rate-emo {
    position: absolute;
    z-index: 0;
    top: 72px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    opacity: 0;
    transition: opacity 0.3s;

    &--active {
      opacity: 1;
      z-index: 2;
    }

    &--selected {
      opacity: 1;
      z-index: 1;
    }

    svg {
      display: block;
      margin-bottom: 24px;
    }
  }

  &__rate-text {
    margin: 0;
    font-size: $font-size--h3;
    line-height: 24px;
    color: $gray;
  }

  &__stars {
    display: flex;
    justify-content: space-around;
    padding: 33px 0 27px;

    @media (min-width: $screen-lg) {
      width: 265px;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
    }

    input {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }
  }

  &__label {
    position: relative;
    display: block;
    text-align: center;
    cursor: pointer;

    @media (min-width: $screen-lg) {
      width: 54px;
      height: 40px;
      margin-left: -1px;

      // костыль для сраного Edge
      &:before {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
    }

    input:checked + & {

      #{$block-name}__input-descr {
        color: #000;
      }
    }
  }

  &__input-emo {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 13px;

    @media (min-width: $screen-lg) {
      display: none;
    }
  }

  &__input-star {
    display: none;

    @media (min-width: $screen-lg) {
      display: block;
      margin: auto;
      fill: $gray-lighter;

      [data-selected-num="1"] [data-js-active] & { fill: $star1; }
      [data-selected-num="2"] [data-js-active] & { fill: $star2; }
      [data-selected-num="3"] [data-js-active] & { fill: $star3; }
      [data-selected-num="4"] [data-js-active] & { fill: $star4; }
      [data-selected-num="5"] [data-js-active] & { fill: $star5; }

      [data-num="1"] [data-js-hover] & { fill: $star1--hover; }
      [data-num="2"] [data-js-hover] & { fill: $star2--hover; }
      [data-num="3"] [data-js-hover] & { fill: $star3--hover; }
      [data-num="4"] [data-js-hover] & { fill: $star4--hover; }
      [data-num="5"] [data-js-hover] & { fill: $star5--hover; }
    }
  }

  &__input-descr {
    margin: 0;
    font-size: 11px;
    text-transform: uppercase;
    color: $gray;

    @media (min-width: $screen-lg) {
      display: none;
    }
  }

  &__like {
    position: relative;
    padding: 20px 15px 0;
    background: #fff;

    @media (min-width: $screen-lg) {
      width: 50%;
      padding: 60px 20px 64px;

      &:first-child {
        padding-left: 64px;
      }

      &--not {
        padding-right: 64px;
      }
    }

    &--not {
      padding-bottom: 20px;
    }
  }

  &__like-icon {
    position: absolute;
    top: 17px;
    left: 12px;
  }

  &__like-header {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 48px;
    margin: 0 0 20px;
    padding-left: 56px;
    font-size: $font-size--h3 + 2;
    line-height: 24px;

    &:before {
      content: '';
      position: absolute;
      top: 4px;
      left: 0;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: $color-success--light-3;
    }

    #{$block-name}__like--not & {

      &:before {
        background: $color-danger--light-2;
      }
    }
  }

  &__like-btns {
    display: flex;
    justify-content: center;
    padding: 20px 0;

    @media (min-width: $screen-lg) {
      width: 100%;
      padding-top: 32px;
      padding-bottom: 32px;
    }

    .btn {
      margin: 0 8px;
    }
  }

  &__success {
    max-width: 400px;
    margin: auto;

    @media (min-width: $screen-lg) {
      max-width: 880px;
      height: 400px;
      display: flex;
      flex-direction: row-reverse;
    }
  }

  &__success-img-wrap {

    @media (min-width: $screen-lg) {
      width: 50%;
    }
  }

  &__success-img {
    display: block;
    width: 100%;
    height: 108px;
    object-fit: cover;

    @media (min-width: $screen-lg) {
      width: 100%;
      height: 100%;
    }
  }

  &__success-text-wrap {
    padding: 24px;
    text-align: center;
    background: #fff;

    @media (min-width: $screen-lg) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
    }
  }

  &__success-rate {}

  &__success-emo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }

  &__success-region {
    margin: 12px 0 20px;
    font-size: $font-size--h3 + 2;
    font-weight: 700;
    line-height: 24px;

    @media (min-width: $screen-lg) {
      font-size: $font-size--h3 + 10;
      line-height: 32px;
    }
  }

  &__other-regions-wrap {
    max-width: 430px;
    margin: 0 auto 200px;
    padding: 0 15px;

    @media (min-width: $screen-lg) {
      width: 516px;
      max-width: 516px;
      padding: 0;
    }
  }

  &__other-regions-title {
    margin: 39px 0 16px;
    font-size: $font-size--h3;
    line-height: 20px;
    font-weight: 700;
    text-align: center;

    @media (min-width: $screen-lg) {
      margin-top: 84px;
      margin-bottom: 32px;
    }
  }

  &__other-regions-inner {

    @media (min-width: $screen-lg) {
      position: relative;
      padding-right: 170px;

      // .typeahead {
      //   position: absolute;
      //   z-index: 1;
      //   top: 0;
      //   right: 0;
      //   width: 170px;
      //   transition: width 0.3s;

      //   &--focus {
      //     width: 100%;

      //     & + .rating-add__other-regions-list {
      //       opacity: 0;
      //     }
      //   }
      // }
    }
  }

  &__selectric-wrap {
    margin-bottom: 24px;

    @media (min-width: $screen-lg) {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      width: 170px;
      transition: width 0.3s;

      .selectric .label {
        // margin-right: 8px;
      }

      .selectric .button {
        // display: none;
      }

      .selectric-items {
        width: 100% !important;
      }

      &--focus {
        width: 100%;

        & + .rating-add__other-regions-list {
          opacity: 0;
        }
      }
    }
  }

  &__other-regions-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin: 0 16px 12px 0;
    }
  }

  &__other-regions-tag {
    display: block;
    padding: 10px 20px;
    border-radius: 20px;
    background: $color-main--light-3;
    text-decoration: none;
    transition: all 0.3s;

    &:hover,
    &:focus {
      box-shadow: 0 1px 8px rgba(#737c94, 0.5);
    }
  }

  &__success-share-short {
    text-align: center;
  }

  &__listing-list {
    margin-top: 32px;

    @media (min-width: $screen-lg) {
      display: flex;
      width: 792px;
      margin: 80px auto 0;
    }
  }

  &__listing-block {
    max-width: 400px;
    margin: 0 auto 24px;
    padding: 24px 15px;
    background: #fff;

    @media (min-width: $screen-lg) {
      width: 380px;
      min-height: 217px;
      padding: 32px 37px;
      margin: 0 16px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__listing-title {
    margin: 0 0 12px;
    font-size: $font-size--h3 + 2;
    font-weight: 700;
  }

  &__listing-subtitle {
    font-size: $font-size--h3;
    margin-bottom: 24px;
  }



  &--success {}
}
