// В этом файле должны быть стили только для БЭМ-блока layout-full, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.layout-full {
  flex-grow: 1;
  position: relative;
  padding: 30px 15px 45px;
  width: 100%;
  max-width: 1330px;
  margin: 0 auto;

  @media (min-width: $screen-md) {
    padding-left: 30px;
    padding-right: 30px;
  }

  &__btns-mobile {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 3;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 320px;
    background-color: #fff;
    border-top: 1px solid $gray-lightest;
    box-shadow: 0 -2px 10px rgba(72, 72, 72, 0.1);

    @media (min-width: $screen-lg) {
      display: none;
    }
  }

  &__btns-mobile-item {
    flex-grow: 1;
    flex-basis: 50%;
    font-size: ($font-size + 2);
    font-weight: 500;
    text-decoration: none;
    padding: 20px 10px;
    color: $text-color;
    text-align: center;
    border: 0;
    background: transparent;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;

    &:not(:first-child) {
      border-left: 1px solid $gray-lightest;
    }

    &[disabled],
    &--disabled {
      opacity: 0.6;
      cursor: default;
      pointer-events: none;

      &:hover,
      &:focus {
        color: inherit;
      }
    }
  }



  &--pb15 {
    padding-bottom: 15px;
  }
}
