// В этом файле должны быть стили только для БЭМ-блока form, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, $media-условий...
// Не пишите здесь другие селекторы.

$font-family--headings:       -apple-system, BlinkMacSystemFont, 'Roboto', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif !default;

$font-size--h3:               1.5em !default;

$line-height:                 1.375em !default;

.form {

  $block-name:                &;

  &:not(:last-child) {
    margin-bottom: $line-height;
  }

  fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;

    &:not(:last-child) {
      margin-bottom: $line-height;
    }
  }

  legend {
    display: block;
    width: 100%;
    font-size: $font-size--h3;
    font-family: $font-family--headings;
    font-weight: 700;
    line-height: $line-height;
    color: currentColor;
    margin-top: $line-height;
    margin-bottom: ($line-height / 2);
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;

    &--max490 {
      max-width: 490px;
    }

    &--max690 {
      max-width: 690px;
    }

    &--lx-max266 {

      @media (min-width: $screen-xl) {
        max-width: 266px;
      }
    }

    &--pt14 {
      padding-top: 14px;
    }

    &--pt50 {
      padding-top: 50px;
    }

    &--calendar-left {
      padding-top: 20px;

      @media (min-width: $screen-lg) {
        padding-top: 30px;
      }
    }
  }

  &__col {
    flex-basis: 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 25px;

    @media (min-width: $screen-sm) {
      flex-basis: 50%;
      max-width: 50%;
    }

    &--sm-4-4 {

      @media (min-width: $screen-sm) {
        flex-basis: 100%;
        max-width: 100%;
      }
    }

    &--md-1-4 {

      @media (min-width: $screen-md) {
        flex-basis: 25%;
        max-width: 25%;
      }
    }

    &--md-2-4 {

      @media (min-width: $screen-md) {
        flex-basis: 50%;
        max-width: 50%;
      }
    }

    &--md-1-3 {

      @media (min-width: $screen-md) {
        flex-basis: 33.33334%;
        max-width: 33.33334%;
      }
    }

    &--md-push-1 {

      @media (min-width: $screen-md) {
        margin-right: 25%;
      }
    }

    &--push-left-2-4 {
      margin-left: 50%;
    }

    &--xl-1-4 {

      @media (min-width: $screen-xl) {
        flex-basis: 25%;
        max-width: 25%;
      }
    }

    &--xl-2-4 {

      @media (min-width: $screen-xl) {
        flex-basis: 50%;
        max-width: 50%;
      }
    }

    &--xl-1-1 {

      @media (min-width: $screen-xl) {
        flex-basis: 100%;
        max-width: 100%;
      }
    }

    &--lg-show {
      display: none;

      @media (min-width: $screen-lg) {
        display: block;
      }
    }

    &--checkbox {
      margin-bottom: 10px;

      @media (min-width: $screen-sm) {
        flex-basis: 50%;
        max-width: 50%;
      }

      @media (min-width: $screen-xl) {
        flex-basis: 25%;
        max-width: 25%;
      }
    }

    &--mb0 {
      margin-bottom: 0;
    }

    &--mb15 {
      margin-bottom: 15px;
    }
  }

  &__pseudolabel {
    margin-top: 0;
    margin-bottom: 13px;
    line-height: 1;
    font-size: $font-size--small;

    @media (min-width: $screen-md) {
      margin-top: 9px;
    }
  }



  &--mb0 {
    margin-bottom: 0 !important;
  }

  &--pb15 {
    padding-bottom: 15px;
  }

  &--bdb {
    border-bottom: 1px solid $gray-lightest;
  }
}
