// В этом файле должны быть стили только для БЭМ-блока fields-group, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.fields-group {
  display: flex;

  &__name {
    display: block;
    width: 100%;
    margin-bottom: 13px;
    line-height: 1;
    font-weight: 500;

    &--sm {
      font-size: $font-size--small;
      font-weight: 400;
    }
  }

  .field-text {
    flex-grow: 1;

    &:not(:first-child):not(:last-child) .field-text__input {
      border-radius: 0;
      border-right: 0;
    }

    &:first-child .field-text__input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: 0;
    }

    &:last-child .field-text__input {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .field-text__input {
    position: relative;

    &:focus {
      z-index: 1;
    }
  }

  &__add {
    display: inline-block;
    vertical-align: middle;
    min-height: 40px;
    padding: ($field-padding-vertical + 4) $field-padding-horizontal;
    margin: 0;
    font-size: $font-size;
    line-height: $font-size + 6;
    font-family: inherit;
    background-color: #fff;
    border: 1px solid $gray-lightest;
    border-radius: $border-radius;

    @media (min-width: $screen-md) {
      padding: $field-padding-vertical $field-padding-horizontal;
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
      border-right: 0;
    }

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
