// В этом файле должны быть стили только для БЭМ-блока field-checkbox, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, $media-условий...
// Не пишите здесь другие селекторы.

$line-height:                 1.375em !default;

.field-checkbox {

  $block-name:                &;

  display: block;
  margin-bottom: ($line-height / 2);

  &__title {
    display: block;
    font-weight: 700;
    line-height: $line-height;
    margin-bottom: 0.4em;
  }

  &__input-wrap {

    & + & {
      padding-top: ($line-height / 2.1);
    }

    &--white-check {

      #{$block-name}__name-text:before {
        background-color: #fff;
      }
    }
  }

  &__name {
    position: relative;
    display: inline-block;
    padding-left: 2em;
    margin-right: 0;
    font-weight: 400;
    line-height: $line-height;

    &--check-only {
      padding-left: 0;
    }
  }

  &__name-text {
    transition: all $transition-time;

    // свой чекбокс
    &:before {
      content: '';
      position: absolute;
      top: 1px;
      left: 0;
      width: 14px;
      height: 14px;
      background-color: $gray-lightest;
      border: 1px solid $gray-lighten;
      border-radius: $border-radius;
      transition: all $transition-time;
    }
    @at-root input:checked ~ &:before {
      background-color: #DBE4FF;
      border-color: $color-main;
    }
    @at-root input:checked ~ &:after {
      content: '';
      position: absolute;
      top: 4px;
      left: 3px;
      width: 8px;
      height: 5px;
      border-left: 1px solid $color-main;
      border-bottom: 1px solid $color-main;
      transform: rotate(-47.8deg);
    }

    @at-root #{$block-name}__name--check-only input:checked ~ & {
      padding-left: 1.6em;
      color: $color-main;

      &:after {
        width: 10px;
        height: 6px;
      }
    }

    #{$block-name}__name--check-only & {

      &:before {
        display: none;
      }
    }

    &--one-line {
      white-space: nowrap;
    }
  }

  &__input {
    position: absolute;

    &:focus,
    &:active {
      @include field-focus;
    }

    // сокрытие инпута в случае использования своего чекбокса
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }

  &__help-text-wrap {
    padding-left: 1.5em;
  }

  &__help-text {
    @include field-help-text;
  }



  &--sm {

    #{$block-name}__name {
      padding-left: 1.6em;
    }

    #{$block-name}__name-text {
      font-size: $font-size--small;
      line-height: $line-height;

      &:before {
        top: 3px;
      }

       @at-root #{$block-name}--sm input:checked ~ #{$block-name}__name-text:after {
        top: 6px;
      }
    }
  }

  &--lg {

    #{$block-name}__name {
      padding-left: 2.3em;
    }

    #{$block-name}__name-text {

      &:before {
        top: -1px;
        width: 20px;
        height: 20px;
      }

      &:after {
        top: 5px !important;
        left: 6px !important;
      }
    }
  }

  &--max490 {
    max-width: 490px;
  }

  &--mt20 {
    margin-top: 20px;
  }

  &--mt10 {
    margin-top: 10px;
  }

  &--no-check {

    #{$block-name}__name {
      padding-left: 0;
    }

    #{$block-name}__name-text {

      &:before,
      &:after {
        display: none;
      }
    }
  }
}
