// В этом файле должны быть стили для БЭМ-блока object-price-data, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.object-price-data {

  $block-name:                &; // #{$block-name}__element {}

  max-width: 400px;
  padding-bottom: 30px;

  &__sell-auction-link {
    display: inline-block;
    margin-top: 18px;
    margin-bottom: 18px;
    color: $color-success;
    font-size: $font-size--small;
    transition: color 0.3s;

    &:hover,
    &:focus {
      text-decoration: none;
      color: darken($color-success, 10%);
    }

    svg {
      display: inline-block;
      vertical-align: -0.6em;
      margin-right: 0.3em;
      fill: currentColor;
    }
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    // padding-top: 12px;
    border-radius: 2px;
    margin-bottom: 25px;
    box-shadow: 0 1px 3px 0 rgba(115, 124, 148, 0.4);
    font-size: $font-size--small;
  }

  &__part {
    padding: 10px 24px;
    border-bottom: 1px solid $gray-lightest;

    &--price {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 24px;
      padding-bottom: 24px;
    }

    &--check {
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 24px;
      padding-bottom: 24px;
    }

    &--mini-price-left {
      width: 50%;
      border-right: 1px solid $gray-lightest;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        background: $color-main--ultralight;
      }
    }

    &--mini-price-right {
      width: 50%;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        background: $color-main--ultralight;
      }
    }

    &--offers {
      width: 100%;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-right: 0;

      @media (min-width: $screen-xl) {
        width: 48%;
      }

      .info-link {
        font-size: $font-size;
      }
    }

    &--offers-2 {
      width: 50%;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-right: 5px;
    }

    &--offers-price {
      width: 50%;
      padding-top: 20px;
      padding-bottom: 20px;
      text-align: center;

      .btn {
        max-width: 100%;
      }

      #{$block-name}__offer-you {
        display: block;
        white-space: nowrap;
        margin-bottom: 22px;
      }
    }

    &--offers-full-line {

      @media (min-width: $screen-xl) {
        width: 100%;
      }
    }

    &--form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding-top: 16px;
      padding-bottom: 20px;

      @media (min-width: $screen-xl) {
        width: 52%;
      }

      .field-num {
        margin-bottom: 15px;
      }

      .btn--sm {
        width: 146px;
      }
    }

    &--user {
      width: 100%;
      border-bottom: none;
      padding-top: 28px;
      padding-bottom: 28px;
    }

    &--cong {
      width: 100%;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  &__check-icon-wrap {
    position: relative;
    cursor: pointer;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.8;
    }

    & + .popover {
      padding: 16px;
    }
  }

  &__offer-you {
    display: inline-block;
    font-size: $font-size;

    &--red {
      color: $color-danger;
    }

    &--green {
      color: $color-success;
    }
  }

  &__you-last-offer {
    min-height: 31px;
    padding-top: 3px;
    padding-bottom: 5px;
    font-size: $font-size--small;
    line-height: 1.33;
    color: $gray;
  }

  &__you-last-offer-num {
    white-space: nowrap;
    color: $text-color;
  }

  &__mini-price {
    font-weight: 600;
  }

  &__mini-price-descr {
    color: $gray;
  }

  &__send-msg.btn {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  &__bottom-link {
    display: block;
    text-align: center;
    font-weight: 600;

    svg {
      display: inline-block;
      vertical-align: middle;
      margin-right: 0.4em;
      fill: currentColor;
    }
  }
}
